<div>
	<div style='padding:1%;width:95%;height:auto;background-color:#1d1d1d;color:#fff;font-weight:bold;font-size:14pt;'><img src="site_media/img/logo_blanco.png" style="width:3%;margin-left:5px">ESAICA.COM</div>
	<div style='padding1%;width:97%;height:auto;background-color:#E8DBB9;color:#fff;font-weight:bold;font-size:12pt;'>Aqui va el encabezado</div>
	<div style='padding1%;width:95%;height:auto;background-color:#FFF;color:#fff;font-weight:bold;font-size:14;'>Contenido del email</div>
	<div style='padding:1%;width:95%;height:auto;background-color:#1d1d1d;color:#fff;font-weight:bold;font-size:14pt;'>Ingrese en el manejador de contenido para verificar estos datos</div>
</div>