<!--JS-->
<script type="text/javascript" src="site_media/js/views_js/empresa.js"></script>
<!-- -->
<div id="contenido_inicial" class="contenido_inicial mostrar">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
	    <div id="bloque_mensaje_lista" name="bloque_mensaje_lista">
	        <div id="campo_mensaje_lista" name="campo_mensaje_lista"></div>
	    </div>
  	</div>
</div>  
<div id="contenido_web" class="ocultar"> 
	<div class="col-md-12">
		  <div class="panel panel-visible" id="spy2">
		    <div class="panel-heading">
		    	<div class="panel-title hidden-xs">
		        	<i class="fa fa-building"></i>Listado de Empresa
		    	</div>
		    </div>
		    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
		      <div id="bloque_mensaje" name="bloque_mensaje">
		          <div id="campo_mensaje" name="campo_mensaje"></div>
		      </div>
		    </div>
		    <div class="panel-body pn">
		      <table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
		        <thead>
		          <tr class="titulo_tabla">
		            <th>Empresa</th>
		            <th>Idioma</th>
		            <th>Direcci&oacute;n</th>
		            <th>Tel&eacute;fono</th>
		            <th>Email</th>
		            <th>Horario</th>
		          </tr>
		        </thead>
		        <tbody id="tbody_lista_empresa" name="tbody_lista_empresa">
		        </tbody>
		      </table>
		    </div>
		  </div>
		  	<div class="col-g-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-g-2 col-md-2 col-sm-2 col-xs-2 n_btn">
					<div class="btn btn-primary" style="width: 100%;" id="btn_nuevo" name="btn_nuevo">Nuevo</div>	
				</div>
		    </div>
	</div>
</div>	   		