<script type="text/javascript" src="site_media/js/views_js/redes.js"></script>
<!-- begin: .tray-center -->
<div class="tray tray-center animated fadeIn">
  <div class="mw1000 center-block">
    <!-- Begin: Content Header -->
    <div class="content-header">
    </div>
    <!-- Begin: Admin Form -->
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <div class="section-divider mb40" id="spy1">
              <span>Redes Sociales</span>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Tipo de red:</div>
                </div>        
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 padding0">
                    <select id="select_redes" name="select_redes" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione una red social">
                    </select>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group red">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Url de red:</div>
                </div>  
                <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 padding0">
                  <input type="text" id="text_url" name="text_url" class="form-control" placeholder="Ingrese url de la red social" maxlenght="100">
                  <input type="hidden" class="form-control" id="id_red" name="id_red">
                </div>
              </div>
            </div>
            <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                            <div id="bloque_mensaje" name="bloque_mensaje">
                                <div id="campo_mensaje" name="campo_mensaje"></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                           <div id="btn_guardar_redes" name="btn_guardar_redes" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <div id="btn_limpiar_redes" name="btn_limpiar_redes" class="btn btn-success" style="float:left;width:100%">Limpiar</div>
                        </div>
                    </div>
                    <input type="hidden" name="id_empresa" id="id_empresa">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>              