<!--CSS-->
<script type="text/javascript" src="site_media/js/views_js/videos.js"></script>
<!-- -->
<!-- begin: .tray-center -->
<!--<div class="tray tray-center animated fadeIn" style="height:auto">-->
<div class="animated fadeIn" style="height:auto">
  <div class="mw1000 center-block">
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <input type="hidden" class="form-control" size="2" name="id_noticia" id="id_noticia">
            <div class="section-divider mb40" id="spy1">
              <span>Videos</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Idioma:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <select id="select_idioma_noticia" name="select_idioma_noticia" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione Idioma">
                            </select>
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Imagen:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <input type="file" name="file_imagen" id="file_imagen" class="btn">
                        </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Contenido:</div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">      
                  <!-- Text-Area -->
                  <textarea class="form-control" id="text_imagen" name="text_imagen" placeholder="Ingrese texto relacionado a la imagen"></textarea>
                  <!-- -->
                  </div>
                </div>
                <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                          <div id="bloque_mensaje" name="bloque_mensaje">
                              <div id="campo_mensaje" name="campo_mensaje"></div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                         <div id="btn_guardar_noticia" name="btn_guardar_noticia" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_ver_listado_noticia" name="btn_ver_listado_noticia" class="btn btn-danger" style="float:left;width:100%">Ver Listado</div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_limpiar_noticia" name="btn_limpiar_noticia" class="btn btn-success" style="float:left;width:100%">Limpiar</div>
                      </div>
                  </div>
                </div>     
            </div>            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>    