<script type="text/javascript" src="site_media/js/views_js/empresa.js"></script>
<!-- begin: .tray-center -->
<div class="tray tray-center animated fadeIn">
  <div class="mw1000 center-block">
    <!-- Begin: Content Header -->
    <div class="content-header">
    </div>
    <!-- Begin: Admin Form -->
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <div class="section-divider mb40" id="spy1">
              <span>Empresa</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Empresa:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <select id="select_empresa" name="select_empresa" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione Empresa">
                          </select>
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Idioma:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <select id="select_idioma" name="select_idioma" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione Idioma">
                              <option value="1">ESPAÑOL</option>
                            </select>
                        </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Direcci&oacute;n:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                           <textarea class="form-control" style:"resize:none" id="text_direccion" name="text_direccion" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);" maxlenght="1000" ></textarea>
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Horario:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <textarea class="form-control" style:"resize:none" id="text_horario" name="text_horario" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);"></textarea>                          
                        </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Tel&eacute;fono:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <input type="text" class="form-control" name="text_tlf" id="text_tlf" placeholder="Ingrese teléfono" onKeyPress="return valida(event,this,21,11)" maxlenght="11" onBlur="valida2(this,21,11);" onchange="longitud(this,8);">
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Tel&eacute;fono 2:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <input type="text" class="form-control" name="text_tlf2" id="text_tlf2" placeholder="Ingrese teléfono" onKeyPress="return valida(event,this,21,11)" maxlenght="11" onBlur="valida2(this,21,11);" onchange="longitud(this,8);">
                        </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Tel&eacute;fono 3:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                          <input type="text" class="form-control" name="text_tlf3" id="text_tlf3" placeholder="Ingrese teléfono" onKeyPress="return valida(event,this,21,11)" maxlenght="11" onBlur="valida2(this,21,11);" onchange="longitud(this,8);">
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">      
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Email:</div>
                        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
                          <input type="text" class="form-control" name="text_email" id="text_email" placeholder="Ingrese email" onKeyPress="return valida(event,this,5,100)" onBlur="valida2(this,5,100);" onchange="correo(this);" maxlenght="11">
                        </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ocultar">
                  <div class="section-divider mb40" id="spy1">
                    <span>Redes Sociales</span>
                  </div>
                </div>
                <div >
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 redes ocultar">
                      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 red">
                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                           <i class="fa fa-facebook"></i>
                        </div>
                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                          <input type="text" id="text_facebook" name="text_facebook" class="form-control" placeholder="Ingrese url de facebook" maxlenght="100">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 red">
                        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
                          <i class="fa fa-instagram"></i>
                        </div>
                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                          <input type="text" id="text_instagram" name="text_instagram" class="form-control" placeholder="Ingrese url de instagram" maxlenght="100">
                        </div>
                      </div>
                </div>
                <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                            <div id="bloque_mensaje" name="bloque_mensaje">
                                <div id="campo_mensaje" name="campo_mensaje"></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                           <div id="btn_guardar_empresa" name="btn_guardar_empresa" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <div id="btn_ver_listado_emp" name="btn_ver_listado_emp" class="btn btn-success" style="float:left;width:100%">Ver listado</div>
                        </div>
                    </div>
                    <input type="hidden" name="id_empresa" id="id_empresa">
                </div>
            </div>            
          </form>
        </div>
      </div>
    </div>
    <!-- End: Admin Form -->
  </div>
</div>
<!-- end: .tray-center -->