<!-- begin: .tray-center -->
<div class="tray tray-center animated fadeIn">
  <div class="mw1000 center-block">
    <!-- Begin: Content Header -->
    <div class="content-header">
    </div>
    <!-- Begin: Admin Form -->
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <div class="section-divider mb40" id="spy1">
              <span>Contactos</span>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padding0">
                <!-- -->
	                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo_th">Nombres y Apellidos:</div>
	                </div>        
	                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding0">
	                   <div id="nombres_apellidos_contacto" name="nombres_apellidos_contacto"></div>
	                </div>
                <!-- -->
            	</div>
            	 <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padding0">
                <!-- -->
	                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo_th">Tel&eacute;fonos:</div>
	                </div>  
	                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 padding0">
	                	<span id="telefonos_contacto" name="telefonos_contacto"></span>
	                </div>
                <!-- -->
            	</div>
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group red">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padding0">
	                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo_th">Correo:</div>
	                </div>  
	                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 padding0">
	                	<span id="correo_contacto" name="correo_contacto"></span>
	                </div>
            	</div>
            	<div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 padding0">
	                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo_th">Pa&iacute;s:</div>
	                </div>  
	                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 padding0">
	                	<span id="pais_contacto" name="pais_contacto"></span>
	                </div>
            	</div>
              </div>
               <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group red">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titulo_th">Mensaje:</div>
                </div>  
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 padding0">
                	<span id="mensaje_contacto" name="mensaje_contacto"></span>
                </div>
              </div>
            </div>
            <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                            <div id="bloque_mensaje" name="bloque_mensaje">
                                <div id="campo_mensaje" name="campo_mensaje"></div>
                            </div>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                          <div id="btn_volver_listado_contactos" name="btn_volver_listado_contactos" class="btn btn-primary" style="float:left;width:100%">Volver</div>
                        </div>
                    </div>
                    <input type="hidden" name="id_empresa" id="id_empresa">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- -->