<!--CSS-->
<!-- -->
<script type="text/javascript" src="site_media/js/views_js/imagenes.js"></script>
<!-- -->
<!-- begin: .tray-center -->
<!--<div class="tray tray-center animated fadeIn" style="height:auto">-->
<div class="animated fadeIn" style="height:auto">
  <div class="mw1000 center-block">
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <input type="hidden" class="form-control" size="2" name="id_imagen" id="id_imagen">
            <div class="section-divider mb40" id="spy1">
              <span>Imagenes</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Idioma:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <select id="select_idioma_imagen" name="select_idioma_imagen" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione Idioma">
                            </select>
                        </div>
                  </div>
                  <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Contenido:</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">      
                      <!-- Text-Area -->
                      <textarea class="form-control" id="text_imagen" name="text_imagen" placeholder="Ingrese texto relacionado a la imagen" onkeypress="return valida(event,this,18,250)" onblur="valida(event,this,18,250)"></textarea>
                      <!-- -->
                    </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Imagen (en formato .jpg):</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <input type="file" name="file_imagen" id="file_imagen" class="btn" style="width:100%">
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 form-group" style="margin-left:10px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><h4>Vista previa:</h4></div>
                    <img src="./site_media/img/gallery.png" id="img_destino" name="img_destino" alt="imagen a cargar">
                  </div>
                </div>  
                <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                          <div id="bloque_mensaje" name="bloque_mensaje">
                              <div id="campo_mensaje" name="campo_mensaje"></div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                         <div id="btn_guardar_imagen" name="btn_guardar_imagen" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_ver_listado_imagen" name="btn_ver_listado_imagen" class="btn btn-danger" style="float:left;width:100%">Ver Listado</div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_limpiar_imagen" name="btn_limpiar_imagen" class="btn btn-success" style="float:left;width:100%">Limpiar</div>
                      </div>
                  </div>
                </div>     
            </div>            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>    