<!--JS-->
<script type="text/javascript" src="site_media/js/views_js/contactos.js"></script>
<!-- -->
<div id="contenido_inicial" class="contenido_inicial mostrar">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
	    <div id="bloque_mensaje_lista" name="bloque_mensaje_lista">
	        <div id="campo_mensaje_lista" name="campo_mensaje_lista"></div>
	    </div>
  	</div>
</div>  
<div id="contenido_web" class="ocultar"> 
	<div class="col-md-12">
		  <div class="panel panel-visible" id="spy2">
		    <div class="panel-heading">
		    	<div class="panel-title hidden-xs">
		        	<i class="fa fa-users"></i>Datos Contactos
		    	</div>
		    </div>
		    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
		      <div id="bloque_mensaje" name="bloque_mensaje">
		          <div id="campo_mensaje" name="campo_mensaje"></div>
		      </div>
		    </div>
		    <div class="panel-body pn">
		      <table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
		        <thead>
		          <tr class="titulo_tabla" >
		            <th>#</th>
		            <th>Nombres y apellidos</th>
		            <th>Tel&eacute;fono</th>
		            <th>Correo</th>
		            <th>Pa&iacute;s</th>
		           </tr>
		        </thead>
		        <tbody id="tbody_lista_nosotros" name="tbody_lista_nosotros">
		        <!--row_contactos-->
			        <tr id='{tab}' onclick='{consultar_contacto}' data='{data}' class="tabla_detalle">
							<td>{i}</td>
							<td>{nombres_apellidos}</td>
							<td>{telefonos}</td>
							<td>{correo}</td>
							<td>{pais}</td>
					</tr>
		        <!--row_contactos-->
		        </tbody>
		      </table>
		    </div>
		  </div>
	</div>
</div>	   		