<!--CSS-->
<script type="text/javascript" src="site_media/js/views_js/videos.js"></script>
<!-- -->
<!-- begin: .tray-center -->
<!--<div class="tray tray-center animated fadeIn" style="height:auto">-->
<div class="animated fadeIn" style="height:auto">
  <div class="mw1000 center-block">
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <input type="hidden" class="form-control" size="2" name="id_video" id="id_video">
            <div class="section-divider mb40" id="spy1">
              <span>Videos</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Archivo de video :</div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="text" name="text_url_video" id="text_url_video" class="form-control" placeholder="Ingrese el link del video de youtube">
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn btn-primary" id="btn_vista_previa" name="btn_vista_previa" title="Vista previa de video"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                  </div>
                  <!--Preview de video -->
                  <div id="campo_mensaje2" name="campo_mensaje2" class="mostrar"></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ocultar" id="preview_material_multimedia" name="preview_material_multimedia">
                  </div>
                  <!-- -->
                </div>
                </div>
                <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                          <div id="bloque_mensaje" name="bloque_mensaje">
                              <div id="campo_mensaje" name="campo_mensaje"></div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                         <div id="btn_guardar_video" name="btn_guardar_video" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_ver_listado_video" name="btn_ver_listado_noticia" class="btn btn-danger" style="float:left;width:100%">Ver Listado</div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_limpiar_video" name="btn_limpiar_video" class="btn btn-success" style="float:left;width:100%">Limpiar</div>
                      </div>
                  </div>
                </div>     
            </div>            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>    