<!--CSS-->
<!-- Summernote CSS  -->
<link rel="stylesheet" type="text/css" href="site_media/plugins/summernote/summernote.css">
<!--JS -->
<!-- Summernote Plugin -->
<script src="site_media/plugins/summernote/summernote.min.js"></script>
<!-- MarkDown JS -->
<script src="site_media/plugins/markdown/markdown.js"></script>
<script src="site_media/plugins/markdown/to-markdown.js"></script>
<script src="site_media/plugins/markdown/bootstrap-markdown.js"></script>
<!-- -->
<script type="text/javascript" src="site_media/js/views_js/vision.js"></script>
<!-- -->
<input type="hidden" class="form-control" size="2" name="id_nosotros" id="id_nosotros">
<!-- begin: .tray-center -->
<!--<div class="tray tray-center animated fadeIn" style="height:auto">-->
<div class="animated fadeIn" style="height:auto">
  <div class="mw1000 center-block">
    <div class="admin-form">
      <div class="panel heading-border">
        <div class="panel-body bg-light">
          <form method="post" id="form-ui" class="form-horizontal">
            <div class="section-divider mb40" id="spy1">
              <span>Visi&oacute;n</span>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Idioma:</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <select id="select_idioma_vision" name="select_idioma_vision" class="form-control" data-style="btn-fff" data-live-search="true" title="Seleccione Idioma">
                            </select>
                        </div>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Contenido:</div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">      
                  <!-- wisiwyg -->
                  <div class="">
                    <div class="pn">
                      <form>
                        <!-- markdown title -->
                        <input class="hidden" name="title" type="text" placeholder="Title?" />

                        <!-- markdown editor area -->
                        <textarea id="markdown-editor" name="content" rows="10" class="form-control" style:"resize:none" maxlenght="1000" rows="10" placeholder="Seleccione un idioma, en este recuadro se cargará la información almacenada">
                        </textarea>

                        <!-- markdown publish checkbox -->
                        <label class="checkbox hidden">
                          <input name="publish" type="checkbox"> Publish
                        </label>

                        <!-- markdown submit button -->
                        <button type="submit" class="btn btn-default hidden">Submit</button>
                      </form>
                    </div>
                    <div class="panel-body bg-light" style="min-height: 190px;">
                      <!-- Markdown Preview Area -->
                      <hr>
                      <h3>Vista del contenido en tiempo real:</h3>
                      <div id="md-footer" class="fs15">
                      </div>
                    </div>
                  </div>
      
                  <!-- -->
                  </div>
                </div>
                <div class="">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
                          <div id="bloque_mensaje" name="bloque_mensaje">
                              <div id="campo_mensaje" name="campo_mensaje"></div>
                          </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                         <div id="btn_guardar_vision" name="btn_guardar_vision" class="btn btn-primary " style="float:left;width:100%"><span id="texo_btn_guardar">Guardar</span></div>
                      </div>
                      <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div id="btn_limpiar_vision" name="btn_limpiar_vision" class="btn btn-success" style="float:left;width:100%">Limpiar</div>
                      </div>
                  </div>
                  <input type="hidden" name="id_empresa" id="id_empresa">
                </div>     
            </div>            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>    