<div id="contenido_inicial_contacto" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_contacto" class="ocultar"> 
        <section id="contacto" class="fadeInUp wow">
            <div class="col-lg-12 contenedor_contacto" >
                <div class="contenedor_nombre_contacto">
                    <div class="titulo_contacto" id='tbl_contacto'>CONTACTO</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left bloque_contacto2">
                <div class="formulario_contacto2 form-horizontal">
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_nombres2'>Nombres:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="nombres_contacto2" id="nombres_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_apellidos2'>Apellidos:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="apellidos_contacto2" id="apellidos_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_telefono2'>Teléfono:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="telefonos_contacto2" id="telefonos_contacto2" onKeyPress="return valida(event,this,10,11)" maxlenght="11"onBlur="valida2(this,10,11);" onchange="longitud(this,12,11);formato_tlf(this);">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_email2'>Correo Electrónico:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="correo_contacto2" id="correo_contacto2" onKeyPress="return valida(event,this,5,100)" onBlur="valida2(this,5,100);" onchange="correo(this);" maxlenght="11">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_pais2'>País:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="pais_contacto2" id="pais_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_mensaje2'>Su Mensaje:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <textarea class="form-input2" type="text" name="mensaje_contacto2" id="mensaje_contacto2" maxlenght="250" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);">
                            </textarea>    
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="boton_contactos2"><span id='contacto_enviar2'>Enviar</span></div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left bloque_direccion">
                <div class="datos_direccion">
                    <div class=" col-sm-12 direccion_contacto titulos_contacto"><span id='tbl_direccion'>DIRECCIÓN DE OFICINA:</span></div>
                    <p class="col-sm-12 parrafos_contacto"><span id='info_direccion'></span>
                    </p>
                    <div  class="cuerpo_tlf">
                    <div class="col-sm-12 tlf_contacto titulos_contacto left"><span id='tbl_tlf_contacto'>TELÉFONOS:</span></div>
                    <div class="parrafos_contacto">
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left tlf_principal"><span id="info_telefono"></span> </p>
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tlf_left left"><span id="info_telefono2"></span></p>
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tlf_left left"><span id="info_telefono3"></span></p>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <div class="col-sm-12 titulos_contacto tlf_contacto">EMAIL:</div>
                    <p class="col-sm-12 parrafos_contacto"><span id="info_email"></span></p>
                    <div class="col-sm-12 tlf_contacto titulos_contacto"><span id='tbl_horario'>HORARIO OFICINA:</span></div>
                    <p class="col-sm-12 parrafos_contacto"><span id='tbl_horario2'></span></p>
                    <!--<div class="col-sm-12 tlf_contacto titulos_contacto"><span id='tbl_redes'>SIGUENOS EN LAS REDES SOCIALES:</span></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 redes_sociales parrafos_contacto">
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-youtube-play"></i> Youtube</div>
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-twitter"></i> Twitter</div>
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-instagram"></i> Instagram</div>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 left bloque_contacto">
                <div class="formulario_contacto form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_nombres'>Nombres:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" maxlenght="60" name="nombres_contacto" id="nombres_contacto" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_apellidos'>Apellidos:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="apellidos_contacto" id="apellidos_contacto" maxlenght="60" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_telefono'>Teléfono:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="telefonos_contacto" id="telefonos_contacto" onKeyPress="return valida(event,this,10,11)" maxlenght="11"onBlur="valida2(this,10,11);" onchange="longitud(this,12,11);formato_tlf(this);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_email'>Correo Electrónico:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="correo_contacto" id="correo_contacto" onKeyPress="return valida(event,this,5,100)" onBlur="valida2(this,5,100);" onchange="correo(this);" maxlenght="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_pais'>País:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="pais_contacto" id="pais_contacto" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_mensaje'>Su Mensaje:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <textarea class="form-input" type="text" name="mensaje_contacto" id="mensaje_contacto" maxlenght="250" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);">
                            </textarea>    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="boton_contactos"><span id='contacto_enviar'>Enviar</span></div>
                    </div>
                </div>
            </div>    
            <div class="clear"></div>
        </section>
    <!-- -->
    <section id='seccion_redes' class="fadeInUp wow">
        <div id="bloque_redes">
            <div class="container">
                <div class="cuerpo_redes_sociales left">
                    <div id='tbl_redes'><h2>SÍGUENOS EN REDES SOCIALES</h2></div>
                </div>
                <div class="row content-row">
                    <img src="site_media/img/intermedio.png"  class="intermedio" style="display:block;margin-left:auto;margin-right:auto">
                </div>
                <!-- <div class="caja_redes row content-row" >-->
                <div class="caja_redes">
                        <div class="option-circles left">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="option-circles left ocultar">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="option-circles left ocultar">
                            <i class="fa fa-youtube-play"></i>
                        </div>
                         <div class="option-circles left btn_instagram">
                            <i class="fa fa-instagram"></i>
                        </div>
                        <div class="clear"></div>
                </div>    
            </div>
        </div>
    </section>      
    <!---->  
</div>    