<div id="contenido_inicial_galeria" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_galeria" class="ocultar">    
    <section id="galeria">
        <div id="cuerpo_galeria"> 
            <div id="section_galeria" name="section_galeria">
                <div id="contenedor_nombre_galeria" name="contenedor_nombre_galeria">
                	<div id="texto_seccion_galeria" name="texto_seccion_galeria" ></div></div>
            </div>
            <!--Cuerpo de imagenes -->
            <div class="fadeInDown wow">
                <h2 class="section-heading" id="titulo_imagenes">Imagenes</h2>
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12 contenedor_imagenes_detalle2" id="contenedor_imagenes_detalle2" name="contenedor_imagenes_detalle2">
                        <div id="contenedor_imagenes_detalle" name="contenedor_imagenes_detalle" style="text-align:justify" class="fadeInUp wow contenedor_imagenes_detalle">
                            <!--Aqui va el texto -->
                            <!-- -->
                        </div>
                        <div class="fadeInUp wow">
                            <img src="site_media/img/fondo_blanco.jpg" class="imagen_centrada2"id="imagen_detalles" name="imagen_detalles" src="">
                        </div>
                    </div>
                </div>
                <div class="row content-row fadeInUp wow" id="estructura_imagenes2" name="estructura_imagenes2" name="estructura_imagen2">
                <!-- Estructrura de las imagenes inferiores... -->
                <!-- -->      
                </div>
                <div class="col-lg-12" style="width:100%">
                    <div id="paginacion_consulta" name="paginacion_consulta" class="pagination">
                        <ul id="paginacion_tabla" class="pagination"></ul>
                    </div>
                </div>
            </div>
            <!--Cuerpo de videos -->
            <div class="container ocultar" id="contenedor_videos">
                <div class="row content-row fadeInUp wow">
                    <img src="site_media/img/intermedio.png"  class="intermedio" style="display:block;margin-left:auto;margin-right:auto">
                </div>
                <div class="fadeInDown wow">
                    <h2 class="section-heading" id="titulo_imagenes">Videos</h2>
                </div>
                <div class="container">
                    <div class="row content-row fadeInUp wow" id="estructura_videos2" name="estructura_videos2">
                    <!-- Estructrura de las imagenes inferiores... -->
                    <!-- -->      
                   </div>
                    <div class="col-lg-12" style="width:100%">
                        <div id="paginacion_consulta_videos" name="paginacion_consulta_videos" class="pagination">
                            <ul id="paginacion_tabla_videos" class="pagination"></ul>
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>    
        </div>
     </section>   
</div> 