<div id="contenido_inicial_inicio" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_inicio" class="ocultar"> 
         <!-- Secciones de Inicio-->
        <!--<div class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">-->
             <!--<header id="div_principal" style="background:url('site_media/img/principal1.jpg') no-repeat center;background-size:cover;width:100%;height:700px;" class="fadeIn">
                <div class="intro-content"></div>
             </header>-->
            <!--<div id="div_principal" name="div_principal" class="fadeIn"></div>-->
                <!--<div class="intro-content">
                    <!--Si desea incluir texto a la imagen -->
                    <!--<img src="site_media/img/culinary/profile.png" class="img-responsive img-centered" alt="">-->
                <!--</div>-->
                <!--<div class="scroll-down">
                    <a class="btn page-scroll" href="culinary.html#values"><i class="fa fa-angle-down fa-fw"></i></a>
                </div>-->
        <!--</div>-->
        <!-- Fullwidth Header -->
        <header id="fullwidth" class="bellafirenze">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="header-text text-center"> 
                  <!-- Heading Title Area -->
                  <p class="fadeInDown wow"> <img id="img_principal" src="site_media/img/texto_principal.png" width="300" height="268" class="img-responsive center-block" style="/*width:40%;margin-top:5%;*/" alt="" /> </p>
                  <!-- /.Heading Title Area -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.container --> 
        </header>
        <!-- /.Fullwidth Header -->
        <section id="quienes_somos" class="services">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12 contenedor_quienes_somos2">
                        <div class="fadeInDown wow">
                            <h2 class="section-heading" id="titulo_quienes_somos">Nuestra Empresa</h2>
                        </div>
                        <div id="contenedor_quienes_somos" name="contenedor_quienes_somos" style="text-align:justify" class="fadeInUp wow">
                            <!--<p style="text-align:justify">Somos una empresa venezolana destinada a la producción, comercialización y exportación de rubros agrícolas, especialmente de cacao y sus derivados.<p>
                            <p style="text-align:justify">Nos enfocamos en promover el incremento del rendimiento de las cosechas de los
                            productores del país, manteniendo como premisa la conservación del medio ambiente,
                            de allí la garantía de certificación orgánica de cada uno de nuestros productos.
                            </p>-->
                        </div>
                    </div>
                </div>
                <div class="row content-row fadeInUp wow">
                    <img src="site_media/img/intermedio.png"  class="intermedio" style="display:block;margin-left:auto;margin-right:auto">
                </div>
            </div>
        </section>
        <section id="nosotros">
            <!--<div class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
                <div style="background:url('site_media/img/nosotros.png') no-repeat center;background-size:cover;width:100%;height:500px;margin-top:100px;margin-top:100px;">
                </div>
            </div>-->   
            <div id="cuerpo_nosotros"> 
                <div id="section_nosotros" name="section_nosotros" >
                    <div id="contenedor_nombre_nosotros"><div id="texto_seccion_nosotros"></div></div>
                </div>
            </div>    
            <div class="container margen_dos_dedos">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn_mensaje wow fadeInLeft">
                        <h2 id="titulo_mision" name="titulo_mision">Misi&oacute;n</h2>
                        <div id="contenedor_mision" name="contenedor_mision" style="text-align:justify" class="left">
                           <!-- <p style="text-align:justify">Satisfacer las necesidades de nuestros clientes con 
                            la producción y exportación de granos de cacao y 
                            sus derivados, bajo los más altos estándares de 
                            calidad, con certificación orgánica y precios justos, 
                            posicionar a Venezuela en mercados competitivos a 
                            nivel internacional y aportar a la economía del país 
                              generando divisas. 
                            <p>-->
                        </div>
                        <div class="row content-row intermedio_mision_vision left" >
                            <img src="site_media/img/intermedio.png" style="display:block;margin-left:auto;margin-right:auto" class="intermedio2">
                        </div>
                        <div class="clear"></div>
                        <!-- -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight vision_responsive">
                        <h2 id="titulo_vision">Visi&oacute;n</h2>
                        <div id="contenedor_vision" name="contenedor_vision" style="text-align:justify">
                            <!-- <p style="text-align:justify">Consolidarnos como la empresa líder en Agricultura
                            Orgánica de Venezuela y el mundo, garantizando
                            estándares óptimos de calidad con la debida certificación
                            de los productos y promoviendo el incremento del
                            rendimiento de las cosechas de los productores del
                            país, manteniendo como premisa la conservación del
                            medio ambiente.
                           </p>-->
                        </div>
                    <!-- -->
                     <div class="row content-row intermedio_mision_vision">
                        <img src="site_media/img/intermedio.png" style="display:block;margin-left:auto;margin-right:auto" class="intermedio2">
                    </div>
                    <!-- -->
                    </div>
                </div>
            </div>
        </section>
        <section id="nuestro_producto">
            <div id="section_nuestro_producto" name="section_nuestro_producto" >
                <div id="contenedor_nombre_nuestro_producto" name="contenedor_nombre_nuestro_producto"><div id="texto_seccion_nuestro_producto"></div></div>
            </div>
            <div id=""></div>
            <div style="text-align:center;margin-top:93px;" class="fadeInDown wow">
                <h2 id="titulo_cacao">CACAO</h2>
            </div>    
            <!--<div class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
               <div style="background:url('site_media/img/nuestro_producto.png') no-repeat center;background-size:cover;width:100%;height:580px;">
               </div>
            </div>-->
            <div class="container" id="contenedor_cacao">
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="contenedor_nuestro_producto" name="contenedor_nuestro_producto" style="text-align:justify" class="left wow fadeInUp">
                            <!--<p style="text-align:justify">Ofrecemos el mejor cacao del país, libre de agroquímicos, trabajado en un cuidadoso
                            proceso que parte del manejo agronómico del rubro en el campo, hasta su postcosecha
                            y el correcto uso de la tecnología para garantizar un producto con sello de certificación
                            orgánica.
                            </p>
                            <p style="text-align:justify">
                            Los tipos de cacao que producimos son: Cumboto, Ocumare, Sur del Lago, Carenero y
                            Río Caribe, F1 y F2, cuyos niveles de fermentación alcanzan hasta un 90 % y cuentan
                            con el más exquisito aroma y sabor.
                            <p>-->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="row content-row">
                    <img src="site_media/img/intermedio.png"  class="intermedio fadeInUp wow" style="display:block;margin-left:auto;margin-right:auto">
                </div>
            </div>
        </section>
            <!--<div id="tabla_cacao" class="wow fadeIn"></div>-->
            <!-- Section para tabla cacao -->
        <section id="menu" class=" wow fadeIn">
            <!-- -->
            <div class="container"> 
                  <p> <img src="site_media/img/texto_tabla.png" class="img-responsive center-block wow fadeInUp" style="" alt="" /> </p>
                <!-- para tabla desarrollada a mano -->  
                <!-- Title & Divider -->
                <!--<div class="row">
                    <div id="contenedor_nombre_nuestro_producto"><h1 id="texto_seccion_tipo_cacao">TIPO DE CACAO<h1>
                    </div>
                </div>-->
                <!--<div class="mrgn-50-top-btm text-center"><img src="assets/bella-firenze/images/dividers/divider.svg" alt="" /></div>-->
                <!-- /.Title & Diver --> 
                
                <!-- Menu Lists -->
                <!--<div class="row"> -->
                  <!-- Menu List 01 -->
                  <!--<div class="col-md-4 wow fadeIn">
                    <p class="text-center mrgn-30-top"><span class="label label-menugroup text-uppercase">Pizza</span></p>
                    <h3 class="mrgn-50-top">Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                  </div>-->
                  <!-- /.Menu List 01 --> 
                  
                  <!-- Menu List 02 -->
                  <!--<div class="col-md-4 wow fadeIn">
                    <p class="text-center mrgn-30-top"><span class="label label-menugroup text-uppercase">Pasta</span></p>
                    <h3 class="mrgn-50-top">Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                  </div>-->
                  <!-- /.Menu List 02 --> 
                  
                  <!-- Menu List 03 -->
                  <!--<div class="col-md-4 wow fadeIn">
                    <p class="text-center mrgn-30-top"><span class="label label-menugroup text-uppercase">Desserts</span></p>
                    <h3 class="mrgn-50-top">Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                    <h3>Lorem Ipsum <span class="accent">4.95£</span></h3>
                    <p>Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                  </div>-->
                  <!-- /.Menu List 03 --> 
               <!-- </div> -->
                <!-- /.Menu Lists --> 
                
                <!-- Menu Button -->
                <!--<div class="row">
                  <div class="col-md-8 col-md-offset-2 text-center mrgn-50-top"> <a href="menu.html" class="btn btn-lg btn-main">See Full Menu</a> </div>
                </div>-->
                <!-- /.Menu Button --> 
              </div>
              <!-- /.container --> 
            <!-- -->    
        </section>
        <!-- Fin de section tabla_cacao -->
        <section id="noticias">
        <div id="cuerpo_nosotros"> 
            <div id="section_noticias" name="section_noticias" >
                <div id="contenedor_nombre_noticias" name="contenedor_nombre_noticias"><div id="texto_seccion_noticias" name="texto_seccion_noticias" ></div></div>
            </div>
        </div>
                <div id=""></div>
                <div class="container wow fadeIn estructura_noticias">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cuerpo_noticia">
                            <img id="imagen_noticias0" name="imagen_noticias0" src="site_media/img/noticias/imagen1.jpg" class="imagen_centrada">
                            <div class='titulos_noticias' id="titulo_noticias0" name="titulo_noticias0">Cacao Criollo</div>
                            <div class="parrafos_imagen left">
                                <p style="text-align:justify">
                                    <div id="parrafo_noticias0" name="parrafo_noticias0">
                                    Tiene una cáscara fina y suave, además 
                                    de poseer bajos contenidos de taninos. 
                                    Se considera que tiene gran calidad, por lo 
                                    cual se reserva para los chocolates más 
                                    finos y exquisitos. 
                                    </div>
                                </p>
                            </div>
                            <div class="left div_btn_noticias">
                                <div class="boton_noticias ocultar"id="btn_noticias0" name="btn_noticias0" >LEER MAS</div>
                            </div>
                            <div class="clear"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cuerpo_noticia">
                            <img id="imagen_noticias1" name="imagen_noticias1" src="site_media/img/noticias/imagen2.jpg" class="imagen_centrada">
                            <div class='titulos_noticias' id="titulo_noticias1" name="titulo_noticias1">Cacao Venezolano</div>
                            <div class="parrafos_imagen left">
                                <p style="text-align:justify">
                                   <div id="parrafo_noticias1" name="parrafo_noticias1"> 
                                   Es un sistema de cultivo de una explotación agrícola autónoma basada en la utilización óptima de los recursos naturales, sin emplear productos químicos sintéticos, u organismos genéticamente modificados (OGMs). 
                                   </div>
                                </p>
                            </div>
                            <div class="left div_btn_noticias">
                                <div class="boton_noticias ocultar" id="btn_noticias1" name="btn_noticias1">LEER MAS</div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 cuerpo_noticia">
                            <img id="imagen_noticias2" name="imagen_noticias2" src="site_media/img/noticias/imagen3.jpg" class="imagen_centrada">
                            <div class='titulos_noticias' id="titulo_noticias2" name="titulo_noticias2">Flor del Cacao</div>
                            <div class="parrafos_imagen left">
                                <p style="text-align:justify">
                                   <div id="parrafo_noticias2" name="parrafo_noticias2"> 
                                   Es un sistema de cultivo de una explotación agrícola autónoma basada en la utilización óptima de los recursos naturales, sin emplear productos químicos sintéticos, u organismos genéticamente modificados (OGMs).
                                   </div>
                                </p>
                            </div>
                            <div class="left div_btn_noticias">
                                <div class="boton_noticias ocultar" id="btn_noticias2" name="btn_noticias2">LEER MAS</div>
                            </div>
                    </div>
                </div>
        </section>
        <!--Gallery section 0 -->
        <section id="galeria">
            <div class="animated">
                <div id="cuerpo_galeria"> 
                    <div id="section_galeria" name="section_galeria" >
                        <div id="contenedor_nombre_galeria" name="contenedor_nombre_galeria"><div id="texto_seccion_galeria" name="texto_seccion_galeria"></div></div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Gallery section 0 -->    
        <!-- Gallery Section -->
        <section id="gallery" style="padding:6%;">
          <div class="container-fluid">
            <!-- Gallery Items Area -->
            <div class="">
                <div class="row">
                    <div class="gallery-items-wrapper col-lg-12">
                        <div class="gallery-items" id="gallery-masonry"> 
                            <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center;">
                            <!-- Gallery Item 01 --> 
                            <!-- Single Gallery-->
                            <div class="single-item drinks "> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                  <!-- Gallery Link --> 
                                  <a href="site_media/img/galeria/galeria1.jpg" class="gallery-item"> <img id="imagen_galeria0" name="imagen_galeria0" src="site_media/img/galeria/galeria1.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                  <!-- /.Gallery Link --> 
                                </figure>
                            <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /Gallery Item 01 --> 
                            <!-- Gallery Item 02 --> 
                            <!-- Single Gallery-->
                            <div class="single-item desserts"> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                  <!-- Gallery Link --> 
                                  <a href="site_media/img/galeria/galeria2.jpg" class="gallery-item"> <img id="imagen_galeria1" name="imagen_galeria1" src="site_media/img/galeria/galeria2.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                  <!-- /.Gallery Link --> 
                                </figure>
                                <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /.Gallery Item 02 --> 
                            <!-- Gallery Item 03 --> 
                            <!-- Single Gallery-->
                            <div class="single-item desserts "> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                    <!-- Gallery Link --> 
                                    <a href="site_media/img/galeria/galeria3.jpg" class="gallery-item"> <img id="imagen_galeria2" name="imagen_galeria2" src="site_media/img/galeria/galeria3.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                    <!-- /.Gallery Link --> 
                                </figure>
                            <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /.Gallery Item 03 -->
                            </div>
                            <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center;"> 
                            <!-- Gallery Item 04 --> 
                            <!-- Single Gallery-->
                            <div class="single-item desserts "> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                    <!-- Gallery Link --> 
                                    <a href="site_media/img/galeria/galeria4.jpg" class="gallery-item"> <img id="imagen_galeria3" name="imagen_galeria3" src="site_media/img/galeria/galeria4.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                    <!-- /.Gallery Link --> 
                                </figure>
                            <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /.Gallery Item 04 -->
                            <!-- Gallery Item 05 --> 
                            <!-- Single Gallery-->
                            <div class="single-item desserts "> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                    <!-- Gallery Link --> 
                                    <a href="site_media/img/galeria/galeria5.jpg" class="gallery-item"> <img id="imagen_galeria4" name="imagen_galeria4"  src="site_media/img/galeria/galeria5.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                    <!-- /.Gallery Link --> 
                                </figure>
                            <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /.Gallery Item 05 -->
                            <!-- Gallery Item 06 --> 
                            <!-- Single Gallery-->
                            <div class="single-item desserts "> 
                            <!-- Gallery Image -->
                                <figure class="gallery-image"> 
                                    <!-- Gallery Link --> 
                                    <a  href="site_media/img/galeria/galeria6.jpg" class="gallery-item"> <img id="imagen_galeria5" name="imagen_galeria5" src="site_media/img/galeria/galeria6.jpg" class="img-responsive" width="1200" height="800"> </a> 
                                    <!-- /.Gallery Link --> 
                                </figure>
                            <!-- /.Gallery Image --> 
                            </div>
                            <!-- /.Single Gallery--> 
                            <!-- /.Gallery Item 06 -->      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery Items Area -->
           </div>
        </section>
        <section id="contacto" class="fadeInUp wow">
            <div class="col-lg-12 contenedor_contacto" >
                <div class="contenedor_nombre_contacto">
                    <div class="titulo_contacto" id='tbl_contacto'>CONTACTO</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left bloque_contacto2">
                <div class="formulario_contacto2 form-horizontal">
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_nombres2'>Nombres:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="nombres_contacto2" id="nombres_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_apellidos2'>Apellidos:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="apellidos_contacto2" id="apellidos_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_telefono2'>Teléfono:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="telefonos_contacto2" id="telefonos_contacto2" onKeyPress="return valida(event,this,10,11)" maxlenght="11"onBlur="valida2(this,10,11);" onchange="longitud(this,12,11);formato_tlf(this);">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_email2'>Correo Electrónico:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="correo_contacto2" id="correo_contacto2" onKeyPress="return valida(event,this,5,100)" onBlur="valida2(this,5,100);" onchange="correo(this);" maxlenght="11">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_pais2'>País:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input2" type="text" name="pais_contacto2" id="pais_contacto2" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_mensaje2'>Su Mensaje:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <textarea class="form-input2" type="text" name="mensaje_contacto2" id="mensaje_contacto2" maxlenght="250" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);">
                            </textarea>    
                        </div>
                    </div>
                    <div class="form-group cuadro_contacto">
                        <div class="boton_contactos2"><span id='contacto_enviar2'>Enviar</span></div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left bloque_direccion">
                <div class="datos_direccion">
                    <div class=" col-sm-12 direccion_contacto titulos_contacto"><span id='tbl_direccion'>DIRECCIÓN DE OFICINA:</span></div>
                    <p class="col-sm-12 parrafos_contacto"><span id='info_direccion'></span>
                    </p>
                    <div  class="cuerpo_tlf">
                    <div class="col-sm-12 tlf_contacto titulos_contacto left"><span id='tbl_tlf_contacto'>TELÉFONOS:</span></div>
                    <div class="parrafos_contacto">
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left tlf_principal"><span id="info_telefono"></span> </p>
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tlf_left left"><span id="info_telefono2"></span></p>
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tlf_left left"><span id="info_telefono3"></span></p>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <div class="col-sm-12 titulos_contacto tlf_contacto">EMAIL:</div>
                    <p class="col-sm-12 parrafos_contacto"><span id="info_email"></span></p>
                    <div class="col-sm-12 tlf_contacto titulos_contacto"><span id='tbl_horario'>HORARIO OFICINA:</span></div>
                    <p class="col-sm-12 parrafos_contacto"><span id='tbl_horario2'></span></p>
                    <!--<div class="col-sm-12 tlf_contacto titulos_contacto"><span id='tbl_redes'>SIGUENOS EN LAS REDES SOCIALES:</span></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 redes_sociales parrafos_contacto">
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-youtube-play"></i> Youtube</div>
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-twitter"></i> Twitter</div>
                        <div class="col-lg-4  col-xs-4 padding0"><i class="fa fa-instagram"></i> Instagram</div>
                    </div>-->
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 left bloque_contacto">
                <div class="formulario_contacto form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_nombres'>Nombres:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" maxlenght="60" name="nombres_contacto" id="nombres_contacto" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_apellidos'>Apellidos:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="apellidos_contacto" id="apellidos_contacto" maxlenght="60" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_telefono'>Teléfono:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="telefonos_contacto" id="telefonos_contacto" onKeyPress="return valida(event,this,10,11)" maxlenght="11"onBlur="valida2(this,10,11);" onchange="longitud(this,12,11);formato_tlf(this);">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_email'>Correo Electrónico:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="correo_contacto" id="correo_contacto" onKeyPress="return valida(event,this,5,100)" onBlur="valida2(this,5,100);" onchange="correo(this);" maxlenght="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_pais'>País:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input class="form-input" type="text" name="pais_contacto" id="pais_contacto" onKeyPress="return valida(event,this,19,60)" onBlur="valida2(this,19,60);" maxlenght="60">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 titulos_contacto2">
                            <label id='contacto_mensaje'>Su Mensaje:</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <textarea class="form-input" type="text" name="mensaje_contacto" id="mensaje_contacto" maxlenght="250" onKeyPress="return valida(event,this,18,250)" onBlur="valida2(this,18,250);">
                            </textarea>    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="boton_contactos"><span id='contacto_enviar'>Enviar</span></div>
                    </div>
                </div>
            </div>    
            <div class="clear"></div>
        </section>
    <!-- -->
    <section id='seccion_redes' class="fadeInUp wow">
        <div id="bloque_redes">
            <div class="container">
                <div class="cuerpo_redes_sociales left">
                    <div id='tbl_redes'><h2>SÍGUENOS EN REDES SOCIALES</h2></div>
                </div>
                <div class="row content-row">
                    <img src="site_media/img/intermedio.png"  class="intermedio" style="display:block;margin-left:auto;margin-right:auto">
                </div>
                <!-- <div class="caja_redes row content-row" >-->
                <div class="caja_redes">
                        <div class="option-circles left">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="option-circles left ocultar">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="option-circles left ocultar">
                            <i class="fa fa-youtube-play"></i>
                        </div>
                         <div class="option-circles left btn_instagram">
                            <i class="fa fa-instagram"></i>
                        </div>
                        <div class="clear"></div>
                </div>    
            </div>
        </div>
    </section> 
    <!-- -->
</div>