<!--<script type="text/javascript" src="./site_media/js/funciones/nosotros.js"></script>-->
<!-- -->
<div id="contenido_inicial_nosotros" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_nosotros" class="ocultar">    
<!-- --->
    <div id="contenedor_pagina_nosotros">
        <div class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
            <!-- -->
             <header id="cuerpo_nosotros"> 
                <div id="section_nosotros" name="section_nosotros" >
                    <div id="contenedor_nombre_nosotros"><div id="texto_seccion_nosotros"></div></div>
                </div>
            </header>
            <!-- -->
            <section id="nosotros_quienes_somos" class="services">
                <div class="container wow fadein">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div id="contenedor_nosotros" style="text-align:justify" class="wow fadeInDown">
                                <!--<p style="text-align:justify">Somos una empresa venezolana destinada a la producción, comercialización y exportación de rubros agrícolas, especialmente de cacao y sus derivados.<p>
                                <p style="text-align:justify">Nos enfocamos en promover el incremento del rendimiento de las cosechas de los
                                productores del país, manteniendo como premisa la conservación del medio ambiente,
                                de allí la garantía de certificación orgánica de cada uno de nuestros productos.
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
            	<div id="section_nosotros_mision_vision" name="section_nosotros_mision_vision" ></div>
                    <div class="container" style="margin-top: 40px;">
                    <div class="row text-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btn_mensaje wow fadeInLeft">
                            <h2 id="titulo_mision">Misi&oacute;n</h2>
                            <div id="contenedor_mision"style="text-align:justify" class="left">
                               <!-- <p style="text-align:justify">Satisfacer las necesidades de nuestros clientes con 
                                la producción y exportación de granos de cacao y 
                                sus derivados, bajo los más altos estándares de 
                                calidad, con certificación orgánica y precios justos, 
                                posicionar a Venezuela en mercados competitivos a 
                                nivel internacional y aportar a la economía del país 
                                  generando divisas. 
                                <p>-->
                            </div>
                         <div class="row content-row intermedio_mision_vision left" >
                            <img src="site_media/img/intermedio.png" style="display:block;margin-left:auto;margin-right:auto" class="intermedio2">
                        </div>
                        <div class="clear"></div>
                        <!-- -->
                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight vision_responsive">
                            <h2 id="titulo_vision">Visi&oacute;n</h2>
                            <div id="contenedor_vision" style="text-align:justify">
                                <!-- <p style="text-align:justify">Consolidarnos como la empresa líder en Agricultura
                                Orgánica de Venezuela y el mundo, garantizando
                                estándares óptimos de calidad con la debida certificación
                                de los productos y promoviendo el incremento del
                                rendimiento de las cosechas de los productores del
                                país, manteniendo como premisa la conservación del
                                medio ambiente.
                               </p>-->
                            </div>
                        <!-- -->
                            <div class="row content-row intermedio_mision_vision">
                                <img src="site_media/img/intermedio.png" style="display:block;margin-left:auto;margin-right:auto" class="intermedio2">
                            </div>
                        <!-- -->
                        </div>
                    </div>
                </div>
            </section>
            <section>
            <!-- Esta no descomenta-->
            <!--	<section id="valores" name="valores" >
                    <!--<div class="container"> 
                        <p class="wow fadeInDown"> <img src="site_media/img/texto_valores.png" class="img-responsive center-block" style="height:500px;" alt="" /> </p>
                    </div>--> 
                    <div id="section_valores" name="section_valores" >
                        <div id="contenedor_titulo_valores">
                            <div id="contenedor_nombre_valores">
                                <div id="texto_seccion_valores"></div>
                            </div>
                        </div>
                        <div id="contenedor_cuadro_detalle_valores">    
                            <!-- Fila 1 -->
                            <div id="cuerpo_fila1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                    <i class="fa fa-circle" aria-hidden="true"></i><span id="valores1"> Excelencia</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                    <i class="fa fa-circle" aria-hidden="true"></i><span id="valores2"> Responsabilidad</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                    <i class="fa fa-circle" aria-hidden="true"></i><span id="valores3"> Honestidad</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                    <i class="fa fa-circle" aria-hidden="true"></i><span id="valores4"> Compromiso</span>
                                </div>
                            </div>
                                <!--Fila 2 -->
                                <div id="cuerpo_fila2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                        <i class="fa fa-circle" aria-hidden="true"></i><span id="valores5"> Solaridad</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                        <i class="fa fa-circle" aria-hidden="true"></i><span id="valores6"> Trabajo en Equipo</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                        <i class="fa fa-circle" aria-hidden="true"></i><span id="valores7">   Perseverancia</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 subtexto_valores">
                                        <i class="fa fa-circle" aria-hidden="true"></i><span id="valores8">
                                         Responsabilidad Ambiental</span>
                                    </div>
                                </div>
                        </div>    
                    </div>
                </section>    
            	<div id=""></div>
                <div style="text-align:center" class="wow fadeInDown">
                    <h2 id="titulo_nuestra_historia">NUESTRA HISTORIA</h2>
                </div>
            	<div class="container">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div id="contenedor_nosotros_historia" style="text-align:justify" class="wow fadeInUp">
                                <!--<p style="text-align:justify">Especialistas Agrícolas Integrados Compañía Anónima (ESAICA) es una empresa venezolana destinada a la producción, comercialización y exportación de rubros
            					agrícolas de la mejor calidad, especialmente de cacao y sus derivados, fundada en
            					los años ochenta por un grupo de investigadores, especialistas e ingenieros agrónomos.
            					Con la visión de fomentar una agricultura sustentable y amigable con el medio ambiente,
            					el equipo conformado comenzó a trabajar con los nuevos paradigmas, tratando de
            					mitigar los efectos de los productos químicos y la sobre aplicación de los mismos
            					sobre las plantas.
            					.<p>
                                <p style="text-align:justify">Por casi tres años consecutivos ESAICA trabajó e incluyó entre sus prioridades el  apoyo y acompañamiento permanente a los productores del campo, para lograr la máxima capacidad de los cultivos y mejorar, mediante la capacitación de los agricultores, la calidad del producto final
                                </p>
                                <p style="text-align:justify">
                                	ESAICA resurge en 2013 manteniendo el concepto de la preservación ambiental y
            						apoyo a los productores, enfocándose aun más en ser el eslabón final que conectara
            						el producto con el mercado internacional y rescatar la confiabilidad y credibilidad en
            						los rubros venezolanos, garantizando calidad, excelencia y cumplimiento cabal de
            						todos los procesos y normativas requeridas.
                                </p>-->
                            </div>
                        </div>
                    </div>
                    <div class="row content-row fadeInUp wow">
                        <img src="site_media/img/intermedio.png"  class="intermedio" style="display:block;margin-left:auto;margin-right:auto">
                    </div>
                </div>

            </section>
            <section id="nuestro_equipo">
                <div id="cuerpo_nuestro_equipo"> 
                    <div id="section_nuestro_equipo" name="section_nuestro_equipo" >
                        <div id="contenedor_nombre_nuestro_equipo">
                            <div id="texto_seccion_nuestro_equipo"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 left fadeInUp wow">
                    <div id="cv1">
                        <img src="site_media/img/cv/oliver_cv.png" class="img_cv">
                    </div>
                </div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-12 left">
                            <div id="contenedor_texto_cv1" class="contenedor_texto_cv wow fadeInDown" style="text-align:justify"></div>
                        </div>
                    </div>
                    <div class="row content-row">
                        <img src="site_media/img/intermedio.png"  class="intermedio fadeInUp wow" style="display:block;margin-left:auto;margin-right:auto">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 left fadeInUp wow">
                    <div id="cv2">
                        <img src="site_media/img/cv/max_cv.png" class="img_cv2">
                    </div>
                </div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <div id="contenedor_texto_cv2" class="contenedor_texto_cv wow fadeInDown"></div>
                        </div>
                    </div>
                    <div class="row content-row">
                        <img src="site_media/img/intermedio.png"  class="intermedio fadeInUp wow" style="display:block;margin-left:auto;margin-right:auto">
                    </div>
                </div>        
                <div class="clear"></div>
            </section>
            <!-- -->
        </div>
    </div>
<!-- -->    