<div id="contenido_inicial_noticias" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_noticias" class="ocultar">    
    <section id="noticias">
        <div id="cuerpo_nosotros"> 
            <div id="section_noticias" name="section_noticias" >
                <div id="contenedor_nombre_noticias" name="contenedor_nombre_noticias"><div id="texto_seccion_noticias" name="texto_seccion_noticias" ></div></div>
            </div>
            <div class="container">
                <a id="inicio_noticias" name="inicio_noticias" href="" ></a>
                <div class="row text-center">
                    <div class="col-lg-12 contenedor_noticias_detalle2" id="contenedor_noticias_detalle2" name="contenedor_noticias_detalle2">
                        <div class="fadeInDown wow">
                            <h2 class="section-heading"><div id="titulo_noticias_detalles" name="titulo_noticias_detalles"></div></h2>
                        </div>
                        <div id="contenedor_noticias_detalle" name="contenedor_noticias_detalle" style="text-align:justify" class="fadeInUp wow contenedor_noticias_detalle">
                            <!--Aqui va el texto -->
                            <!-- -->
                        </div>
                        <div class="fadeInUp wow">
                            <img src="site_media/img/fondo_blanco.jpg" class="imagen_centrada2"id="imagen_noticias_detalles" name="imagen_noticias_detalles" src="">
                        </div>
                    </div>
                </div>
                <div class="row content-row fadeInUp wow" id="estructura_noticias2" name="estructura_noticias2" name="estructura_noticias2">
                <!-- Estructrura de las noticias inferiores... -->
                <!-- -->      
                </div>
                <div class="col-lg-12" style="width:100%">
                    <div id="paginacion_consulta" name="paginacion_consulta" class="pagination">
                        <ul id="paginacion_tabla" class="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
     </section>   
</div>        