<!--<script type="text/javascript" src="./site_media/js/funciones/nuestro_producto.js"></script>-->
<div id="contenido_inicial_nuestro_producto" class="contenido_inicial mostrar">
<!--Preloader-->
    <div class="contener_loader_18">
        <div class="rond_sup">
            <div class="rond_mil">
                <div class="rond_petit">
                    <div class="rond_mini">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- -->    
</div>  
<div id="contenido_web_nuestro_producto" class="ocultar">    
    <div id="contenedor_pagina_nuestro_producto">
        <div class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <!-- -->
        <header id="section_nuestro_producto" name="section_nuestro_producto" >
            <div id="contenedor_nombre_nuestro_producto"><div id="texto_seccion_nuestro_producto"></div></div>
        </header>
        <!-- -->
        <section id="nuestro_producto">
            <div class="container" style="margin-top: 40px;">
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div id="contenedor_nuestro_producto" style="text-align:justify" class="wow fadeInUp">
                            <!--<p style="text-align:justify">Ofrecemos el mejor cacao del país, libre de agroquímicos, trabajado en un cuidadoso
                            proceso que parte del manejo agronómico del rubro en el campo, hasta su postcosecha
                            y el correcto uso de la tecnología para garantizar un producto con sello de certificación
                            orgánica.
                            </p>
                            <p style="text-align:justify">
                            Los tipos de cacao que producimos son: Cumboto, Ocumare, Sur del Lago, Carenero y
                            Río Caribe, F1 y F2, cuyos niveles de fermentación alcanzan hasta un 90 % y cuentan
                            con el más exquisito aroma y sabor.
                            <p>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
    </div>
</div>        