<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="site_media/img/principal1.png" style='width:100%;height:500px'alt="">
        <div class="carousel-caption"><span id="slide1">PRODUCIMOS EL MEJOR <span class='text_slider1'>CACAO VENEZOLANO</span></span></div>
      </div>
      <div class="item">
        <img src="site_media/img/principal2.png" style='width:100%;height:500px'>
        <div class="carousel-caption"><div style="margin-bottom:70px;"><span id="slide2">EXPORTAMOS EXCELENCIA</span></div></div>
      </div>
      <div class="item">
        <img src="site_media/img/principal3.png" style='width:100%;height:500px'>
        <div class="carousel-caption"><span id="slide3">SOMOS GARANTÍA DEL MEJOR CHOCOLATE DEL MUNDO</span></div>
      </div>
  </div>
  <!-- -->
</div>