.padding0
{
  padding:0px;
}
.clear
{
  clear:both
}
.left
{
  float:left;
}
.right
{
  float:right;
}
.btn-fff
{
  background: #fff; border:1px solid #ccc;
}
.n_btn
{
	padding: 4px;
	float: right;
}
.titulo_tabla
{
   font-size:12pt;
}
.ocultar
{
	display: none;
}
.mostrar
{
	display: block;
}
.activo_top{
  background-color: #909090;
}
#cuerpo_principal
{
  max-height: 300px;
  overflow-y:hidden;
}
.img_ppal
{
  margin: 0 auto;
  display: inherit;
}
.texto_fila1, .texto_fila2{
  text-align: center;
}
.cuerpo_ini
{
  margin-top: 50px;
}
.cuerpo_ini_is
{
  padding: 10% 25% 0% 26%;
}
/* demo styles -summernote */
.btn-toolbar > .btn-group.note-fontname {
  display: none;
}
.red{
  margin-bottom: 20px;
}
.tabla_detalle{
  cursor: pointer;
}
.titulo_th{
  font-weight: bold;
}