@font-face{
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Regular.ttf");
}
@font-face{
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Black.ttf");
}
@font-face{
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Bold.ttf");
}
@font-face{
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Light.ttf");
}
@font-face{
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Thin.ttf");
}
/**********************************************************************************************/
/*********  
3.Scroll Affix
*********/
.affix{margin-top: 0px;padding:0;-webkit-transition:padding .2s linear;-moz-transition:padding .2s linear;-o-transition:padding .2s linear;transition:padding .2s linear;background-color:rgba(232,219,185,0.9);-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1)}
.affix-top{margin-top:20px;padding-top:15px;padding-bottom:15px;-webkit-transition:padding .5s linear;-moz-transition:padding .5s linear;-o-transition:padding .5s linear;transition:padding .5s linear}
@media only screen and (max-width: 767px) {
.affix{padding:0;-webkit-transition:padding .2s linear;-moz-transition:padding .2s linear;-o-transition:padding .2s linear;transition:padding .2s linear;background-color:rgba(45,48,53,0.9) -webkit-box-shadow: #0px #1px #5px #0px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.5);box-shadow:0 1px 5px 0 rgba(0,0,0,0.5)}
.affix-top{padding-top:15px;padding-bottom:15px;-webkit-transition:padding .5s linear;-moz-transition:padding .5s linear;-o-transition:padding .5s linear;transition:padding .5s linear;background-color:rgba(45,48,53,0.9)}
}
#super_menu{height: 80px;}
/*.btn_menu_top:hover
{
  background-color: #333;
  padding: 4% 30% 4% 25%;
}*/
/**********************************************************************************************/
/*********  
4.Fullwidth Header
*********/
header#fullwidth {color:#FFF}
header#fullwidth{background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover; background-attachment:fixed}
header#fullwidth .header-text{padding-top:180px;padding-bottom:50px}
header#fullwidth h1 { font-size:64px; color:#4AA8D3}
header#fullwidth h2{ font-size:28px;}
@media(min-width:768px) {
header#fullwidth .header-text {/*padding-top: 300px;padding-bottom: 200px;*/padding-top:0px;padding-bottom:40px;}
}
header#fullwidth{min-height: 100%; /* min. height for modern browser */ height:auto !important; /* important rule for modern Browser */   height:100%; /* min. height for IE */ overflow: hidden !important; /* FF scroll-bar */}
@media(max-width:768px) {
header#fullwidth h1 { font-size:34px; color:#4AA8D3}
header#fullwidth h2{ font-size:21px;}
p.details  {text-align:center !important; font-size:16px;font-weight:500;line-height:1.5}
}
header#fullwidth .form-inline .form-control {border-radius: 0;margin-right: 10px;    height:45px; min-width: 260px; background:rgba(255,255,255,0.9);color:#1c1e21;}  
header#fullwidth .lightform .form-control {border-radius: 0;margin-right: 10px; margin-bottom:10px;   height:45px; min-width: 260px; background:rgba(255,255,255,0.1);color:#fff; border:2px solid #4AA8D3;}  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
header#fullwidth .header-text {padding-top: 240px;padding-bottom: 160px;}
}
/* Change Header Image Here */
.bellafirenze {background-image:url(../img/principal1.jpg); background-position:bottom left}
/*********/
.container-fluid 
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
/********************************************************************************************/
.btn_menu_top
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
  color:#fff;
}
.btn_menu
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
  color:#000;
}
#mainnavigation 
{
  background: #2d3035;
}
.mostrar
{
  display: block;
}
.ocultar
{
  display:none;
}
#lista_empresa{
  cursor: pointer;
}
.encabezado_font
{
  margin-right:3px;
}
.encabezado_font2
{
  margin-left:3px;
}
#idioma_ingles,#idioma_espaniol
{
  cursor: pointer;
}
.left
{
  float:left;
}
.clear
{
  clear: both;
}
.navbar-inverse 
{
  background-color: #FFF;
  border-color: #FFF;
  height: 113px;
}
.imagen_logo
{
	/*width:60%;*/
  width:40px;
}
.menu_principal
{
	margin: 0px 0px 0px 60px;
  font-size: 11pt;
}
.opciones_menu_selected
{
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 2px 30px 0px 30px;
}
#contenedor_quienes_somos,#contenedor_nosotros,#contenedor_nosotros_historia
{
  /*padding: 20px 180px 10px 180px; */
  /* padding: 5% 5% 0% 8%; */
  /*font-size: 13pt;*/
  font-size: 15pt;
  font-family: "Roboto-Light";
  padding: 3% 21% 2% 21%;
  word-wrap: break-word;
  color: #000;
}
#contenedor_nuestro_producto
{
  /*font-size: 13pt;*/
  font-size: 14pt;
  font-family: "Roboto-Light";
  padding: 3% 21% 3% 21%;
  word-wrap: break-word;
  color: #000;  
}
.intermedio
{
  width:15%;
}
/*.contenedor_quienes_somos2
{
  margin-top: 43px;
}*/
.margen_dos_dedos
{
  margin-top: 93px;
  margin-bottom: 93px;
}
#lista_empresa ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	color: #000;
	margin-left: 13%;
	padding: 10px;
  font-family: "Roboto-Light";
	font-size: 8pt;
  width:80%;
}
#lista_empresa ul li
{
	display: inline;
}
.menu1
{
  background-color: #EBE6B5;/*Blanquito*/
}
.menu2
{
  background-color: #000;/*Oscuro*/
}
.telefonillo
{
	margin-left: 60px;
}
.contacto
{
	margin-left: 10%;
}
.idioma
{
	float: right;
  padding-right: 15%;
}
.opcion_seleccionada
{
  color: #000;
  background-color: #fff;
}
#quienes_somos,#nosotros_quienes_somos
{
  margin-top: 93px;
  margin-bottom: 93px;
  font-size: 12pt;
}
#contenedor_mision,#contenedor_vision,#contenedor_nosotros_mision,#contenedor_nosotros_vision
{
  /*font-size: 12pt;*/
  font-size: 14pt;
  font-family: "Roboto-Light";
  word-wrap: break-word;
  padding: 3% 14%;
  height: 300px; 
  color: #000;
}
#titulo_mision,#titulo_vision
{
  font-family: "Roboto-Regular";
}
.intermedio_mision_vision
{
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  /*margin-bottom: 5%;*/
}
.intermedio2{
  width: 31%;
}
/*#contenedor_nuestro_producto
{
	word-wrap:break-word;
	padding: 0% 12% 18% 12%;
  color: #717171;
  font-size: 14pt;
}*/
#hr_grueso
{
  background-color: #1d1d1d;
  height: 5px;
  width: 100%;
}
.titulo_negro
{
  font-weight: bold;
  background-color: #1d1d1d;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 1% 4% 1% 4%;
}
.titulo_negro2
{
  font-weight: bold;
  background-color: #1d1d1d;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 4% 1% 4%;
}
.titulo_negro3
{
  font-weight: bold;
  background-color: #333;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 1% 4% 1% 4%;
}
.text_slider1
{
  /*font-weight: bold;*/
  letter-spacing: 3px;
}
/*#gran_caracas,#telefonillo,.contacto,#idioma
{
  font-size:9pt;
}*/
#titulo_quienes_somos,#titulo_cacao,#titulo_noticias,#titulo_galeria,#titulo_nuestra_historia
{
  font-family: "Roboto-Regular";
  /*font-size: 15pt;*/
}
#titulo_nuestra_historia
{
  margin-top: 50px;
}
#titulo_galeria
{
  margin-bottom:50px;
}
.imagen_centrada
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.parrafos_imagen
{
  text-align: justify;
  padding: 10%;
  color: #000;
  font-size: 13pt;
  font-family: "Roboto-Light";
  height: 250px;
}
.boton_noticias
{
  border: solid 2px #424141;
  text-align: center;
  padding: 2%;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.boton_noticias:hover
{
  border: solid 2px #fff;
  background-color: #424141;
  color:#fff;
  cursor: pointer;
}

.div_btn_noticias
{
  width: 100%;
}
.cuerpo_noticia
{
  margin-top: 5%;
}
.cien
{
  width: 100%;
  height: 260px;
}
.padding0
{
	padding: 0px;
}
#noticias
{
	margin-bottom: 100px;
}
#contacto,#contacto2
{
	width:100%;
	/*height: 600px;*/
	background-color: #1d1d1d;
	color:#fff;
  padding-bottom: 2%;
}
/*#contacto
{
  margin-top: 260px;
}*/
#contacto2 {
  margin-top: 120px;
}
.titulo_contacto
{
  display: block;
  /* margin-right: auto; */
  /* margin-left: 25%; */
  font-size: 20pt;
  padding-top: 40px;
  font-family: "Roboto-Regular";
  /*font-size: 18pt;*/
  text-align: center;
}
.datos_direccion
{
  padding: 0% 0% 0% 30%;
  /*padding: 10% 0% 0% 0%;*/
  width: 90%;
}
.titulos_contacto
{
  margin-bottom: 10%;
  font-family: "Roboto-Regular";
  font-size: 11pt;
}
.titulos_contacto2
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
}
.parrafos_contacto
{
  font-size: 11pt;
  font-family: "Roboto-Regular";
}
.formulario_contacto
{
	padding: 4% 0% 0% 0%;
}
.tlf_contacto
{
	margin-top : 20px;
}
.tlf_left
{
	padding-left: 70px;
}
.form-input
{
	width:70%;
}
#div_pie_pagina
{
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.img_padding
{
  float: left;
  width: 3%;
  margin: 1%;
}
.texto_footer
{
  padding: 25px 0px 0px 25px;
  font-size: 7pt;
  width: 80%;
  letter-spacing: 1px;
}
.fu
{
  margin-left: 15%;
}
.boton_contactos
{
  border: solid 2px #fff;
  text-align: center;
  padding: 3px;
  width: 120px;
  display: block;
  margin-left: 12px;
  cursor: pointer;
}
.boton_contactos:hover
{
  background-color: #fff;
  color: #1d1d1d;
  cursor: pointer;
}
.btn_mensaje
{
  font-size: 8pt;
}
#div_principal
{
  /*  background:url('../img/principal.png') center fixed no-repeat; //Imagen de fondo*/
  /*  background:url('../img/principal.png'); //Imagen de fondo*/
}
#div_principal_nosotros
{
    background:url('../img/nosotros.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_nuestro_producto, #div_principal_nuestro_producto
{
   background:url('../img/nuestro_producto.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_nosotros_valores
{
  /* background:url('../img/valores.png') center fixed; //Imagen de fondo  */
  background:url('../img/valores.png') center fixed no-repeat; //Imagen de fondo  
}
#div_principal,#div_principal_nosotros,#div_principal_nuestro_producto,
{
  max-height: 100%;
  /*height: 500px; //altura del fondo*/
  height: 500px;//altura de fondo
  position: relative;
  margin: 0 auto;
  /*padding: 5%;*/
  background-size: cover; //ajusta el fondo a la imagen
}
#div_galeria
{
  margin-top: 100px;
}
#section_nosotros{
  background:url('../img/nosotros.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_noticias{
  background:url('../img/noticias.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_galeria{
  background:url('../img/galeria.jpg') center fixed no-repeat; //Imagen de fondo
}
#texto_seccion_nosotros{
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";
  width: 100%;
  left: 50%;
  top: 50%;
  padding: 8% 13% 8% 13%;
}
/*#contenedor_nombre_nosotros
{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
}*/
#texto_seccion_nuestro_producto,#texto_seccion_noticias,#texto_seccion_galeria
{
  /*text-align: center;
  color: #fff;
  margin: 5% 0% 0% 25%;
  padding: 2%;
  float: left;
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";*/
  text-align: center;
  color: #fff;
  margin: 0 auto;
  /*margin-top: 10%;*/
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";
  width:100%;
}
#texto_seccion_galeria,#texto_seccion_noticias
{
  padding: 8% 13% 8% 13%;
}
#texto_seccion_nuestro_producto
{
  padding:4% 4% 4% 4%;
}
/*#contenedor_nombre_nuestro_producto
{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
}*/
#section_nuestro_producto,#section_nosotros,#section_noticias,#section_galeria{
  max-height: 100%;
  height: 500px;
  margin: 0 auto;
  /* padding: 5%; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#nuestro_producto{
  margin-top:30px;
  margin-bottom: 30px;
}
#tabla_cacao
{
  padding: 7% 7% 0% 7%;
}
.tabla_cacao
{
  width: 100%;
  border: solid #333;
}
.th_tabla2
{
  font-size: 14pt;
  font-family: "Roboto-Bold";
  background-color: #333;
  color: #fff;

}
.th_tabla
{
  padding: 2%;
  text-align: center;
}
.td_tabla
{
  padding: 2%;
  text-align: center;
  border-left: solid #333;
}
/*.td_tabla,.td_caracteristicas
{
  font-family: "Roboto-Light";
}*/
tbody
{
  width: 30%;
  font-size: 10pt;
  font-family: "Roboto-Light";
  color:#000;
}
.td_caracteristicas
{
  padding: 10px 40px 0px 40px;
  border-left: solid #333;
  text-align: justify;
}
.linea_tabla
{
  border-bottom: solid #333;
}
.fermentacion
{
  text-align: justify;
}
.tipo_cacao
{
  padding:10px 0px 10px 0px;
}
.descripcion_cacao
{
  padding-bottom: 20px;
}
.texto_humedad
{
  text-align: right;
}
.str_texto
{
  text-align: left;
  padding-left: 8%;
}
#section_nosotros_valores
{
  max-height: 100%;
  height: 500px;//altura de fondo
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover; //ajusta el fondo a la imagen 
}
.btn_inicio:hover
{
  background-color:"#000";
  color:"#fff"
}
.bloque_direccion
{
  margin-top: 40px;
}
.redes_sociales
{
  font-size: 9pt;
  margin-left: 15px;
}
/*---Clases del carrousel principal ---*/
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-family: "Roboto-Regular"; 
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.cacao_vzla
{
  font-size: 45pt;
  margin-top: 80px;
}
/*--Bloque de Media queries--*/
/*--------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 70%;
  }
  .idioma
  {
    padding-right: 10%;
  }
}
@media screen and (max-width: 1024px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 20%;
  }
  #lista_empresa ul {
    margin: 0px 0px 0px 8%;
  } 
}
@media screen and (max-width: 995px) {
   .menu_principal
  {
    margin: 20px 0px 0px 0px;
  }
  .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
  {
     margin-left: 20px;
  }
  .navbar-inverse .navbar-nav>li>a 
  {
    padding: 2px 16px 0px 16px;
  }
  #lista_empresa ul {
    margin: 0px 0px 0px 13%;
  } 
}
@media screen and (max-width: 870px){
  /*--Cabecera empresa--*/
  #lista_empresa ul{
    margin-left: 10%;
    width:85%;
  }
  .idioma
  {
    padding-right: 2%;
  }
}
@media screen and (max-width:  766px){
  .datos_direccion{
    padding: 2%;
  }
  .redes_sociales{
    margin-left: 20px;
  }
  .bloque_contacto{
    /*padding-left: 22%;*/
  }
  .direccion_contacto{
    margin-bottom: 0%;
  }
  .img_padding{
    margin: 1% 0 0 4%;
  }
}
@media screen and (max-width: 760px){
  .menu_principal{
    margin: 0px 0px 0px 0px;
    font-size: 8pt
  }
  .navbar-collapse{
    padding-right: 0px;
    padding-left: 0px;
  }
}  
@media screen and (min-width: 768px){
  .carousel-caption {
    right: 20%;
    left: 20%;
/*  padding-bottom: 180px;*/
    padding-bottom: 150px;
    font-size: 40pt;
  }
}
@media screen and (max-width: 753px){
  .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 676px){
  /*--Cabecera empresa--*/
  #lista_empresa ul{
    margin: 0 auto;
    width:100%;
  }
  .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
  {
     margin-left: 0px;
  }
}

@media screen and (max-width: 550px){
  /*--Cabecera empresa--*/
  #lista_empresa ul{
     font-size: 7pt;
  }
}

@media screen and (max-width: 550px){
  /*--Cabecera empresa--*/
  #lista_empresa ul{
     font-size: 6pt;
  }
  .img_padding
  {
    width: 8%;
  }
}

@media screen and (max-width: 440px){
  /*--Cabecera empresa--*/ 
  #lista_empresa ul{
     font-size: 4pt;
  }
  .tlf_left
  {
    padding-left: 0px;
    font-size: 8pt;
  }
  .tlf_principal
  {
    font-size: 8pt;
  }
  .cuerpo_tlf
  {
    margin-bottom: 30px;  
  }
}
@media screen and (max-width: 320px){
  .datos_direccion{
    padding: 10% 0% 0% 0%;
  }
}  
/*--------------------------------------------------------------------------------------------*/  