@font-face{
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Regular.ttf") format('truetype'),
      url('../RobotoTTF/Roboto-Regular.woff2') format('woff2'),
      url('../RobotoTTF/Roboto-Regular.woff') format('woff');
}
@font-face{
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Black.ttf") format('truetype'),
      url('../RobotoTTF/Roboto-Black.woff2') format('woff2'),
      url('../RobotoTTF/Roboto-Black.woff') format('woff');
}
@font-face{
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Bold.ttf") format('truetype'),
      url('../RobotoTTF/Roboto-Bold.woff2') format('woff2'),
      url('../RobotoTTF/Roboto-Bold.woff') format('woff');
}
@font-face{
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Light.ttf") format('truetype'),
      url('../RobotoTTF/Roboto-Light.woff2') format('woff2'),
      url('../RobotoTTF/Roboto-Light.woff') format('woff');
}
@font-face{
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src:url("../RobotoTTF/Roboto-Thin.ttf") format('truetype'),
      url('../RobotoTTF/Roboto-Thin.woff2') format('woff2'),
      url('../RobotoTTF/Roboto-Thin.woff') format('woff');
}
/**********************************************************************************************/
/*********  
3.Scroll Affix
*********/
.affix{margin-top: 0px;padding:0;-webkit-transition:padding .2s linear;-moz-transition:padding .2s linear;-o-transition:padding .2s linear;transition:padding .2s linear;background-color:rgba(232,219,185,0.6);-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 1px 1px 0 rgba(0,0,0,0.1)}
.affix-top{margin-top:20px;padding-top:15px;padding-bottom:15px;-webkit-transition:padding .5s linear;-moz-transition:padding .5s linear;-o-transition:padding .5s linear;transition:padding .5s linear}
@media only screen and (max-width: 767px) {
.affix{padding:0;-webkit-transition:padding .2s linear;-moz-transition:padding .2s linear;-o-transition:padding .2s linear;transition:padding .2s linear;background-color:rgba(45,48,53,0.9) -webkit-box-shadow: #0px #1px #5px #0px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.5);box-shadow:0 1px 5px 0 rgba(0,0,0,0.5)}
.affix-top{padding-top:15px;padding-bottom:15px;-webkit-transition:padding .5s linear;-moz-transition:padding .5s linear;-o-transition:padding .5s linear;transition:padding .5s linear;/*background-color:rgba(45,48,53,0.9)*/}
}
#super_menu{height: 80px;}
/*.btn_menu_top:hover
{
  background-color: #333;
  padding: 4% 30% 4% 25%;
}*/
/**********************************************************************************************/
/*********  
4.Fullwidth Header
*********/
header#fullwidth {color:#FFF}
header#fullwidth{background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover; background-attachment:fixed}
header#fullwidth .header-text{padding-top:180px;padding-bottom:50px}
header#fullwidth h1 { font-size:64px; color:#4AA8D3}
header#fullwidth h2{ font-size:28px;}
@media(min-width:768px) {
header#fullwidth .header-text {/*padding-top: 300px;padding-bottom: 200px;*/padding-top:0px;padding-bottom:40px;}
}
header#fullwidth{min-height: 100%; /* min. height for modern browser */ height:auto !important; /* important rule for modern Browser */   height:100%; /* min. height for IE */ overflow: hidden !important; /* FF scroll-bar */}
@media(max-width:768px) {
header#fullwidth h1 { font-size:34px; color:#4AA8D3}
header#fullwidth h2{ font-size:21px;}
p.details  {text-align:center !important; font-size:16px;font-weight:500;line-height:1.5}
}
header#fullwidth .form-inline .form-control {border-radius: 0;margin-right: 10px;    height:45px; min-width: 260px; background:rgba(255,255,255,0.9);color:#1c1e21;}  
header#fullwidth .lightform .form-control {border-radius: 0;margin-right: 10px; margin-bottom:10px;   height:45px; min-width: 260px; background:rgba(255,255,255,0.1);color:#fff; border:2px solid #4AA8D3;}  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
header#fullwidth .header-text {padding-top: 240px;padding-bottom: 160px;}
}
/* Change Header Image Here */
.bellafirenze {background-image:url(../img/principal1.jpg); background-position:bottom left}
.fondo_tabla_cacao {background-image:url(../img/tabla_cacao.jpg); background-position:bottom left}

/*********/
section#menu {background: url(../img/tabla_cacao.jpg) no-repeat;background-attachment:fixed;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover; color:#FFF}
section#menu h3 {font-size:18px;font-weight:500; text-transform:uppercase; border-bottom:1px solid #bda881; padding-bottom:10px}
section#menu .label-menugroup {background:#bda881; text-transform:uppercase; font-size:21px;}
/********/
.container-fluid 
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*********************/
/*section#valores {background: url(../img/valores.jpg) no-repeat;background-attachment:fixed;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover; color:#FFF; height: 500px;}
section#valores h3 {font-size:18px;font-weight:500; text-transform:uppercase; border-bottom:1px solid #bda881; padding-bottom:10px}
section#valores .label-menugroup {background:#bda881; text-transform:uppercase; font-size:21px;}*/
/********************************************************************************************/
#cuerpo_cabecera{
  height: 10px;
  margin-top: 1%;
  margin-left: 2%;
}
#cuerpo_sistema{
  background-color: #fff;
}
.btn_menu_top
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
  color:#fff;
}
.btn_menu
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
  color:#000;
}
#mainnavigation 
{
  background: #2d3035;
}
.mostrar
{
  display: block;
}
.ocultar
{
  display:none;
}
#lista_empresa{
  cursor: pointer;
}
.encabezado_font
{
  margin-right:3px;
}
.encabezado_font2
{
  margin-left:3px;
}
#idioma_ingles,#idioma_espaniol
{
  cursor: pointer;
}
.left
{
  float:left;
}
.clear
{
  clear: both;
}
.navbar-inverse 
{
  background-color: #FFF;
  border-color: #FFF;
  height: 113px;
}
.imagen_logo
{
	/*width:60%;*/
  width:40px;
}
.menu_principal
{
	/*margin: 0px 0px 0px 60px;*/
  margin: 10px 0px 0px 20px;
  font-size: 11pt;
}
.opciones_menu_selected
{
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 2px 30px 0px 30px;
}
#contenedor_quienes_somos,#contenedor_nosotros,#contenedor_nosotros_historia,.contenedor_texto_cv, .contenedor_noticias_detalle, .contenedor_imagenes_detalle
{
  /*padding: 20px 180px 10px 180px; */
  /* padding: 5% 5% 0% 8%; */
  /*font-size: 13pt;*/
  font-size: 15pt;
  font-family: "Roboto-Light";
  padding: 3% 21% 2% 21%;
  word-wrap: break-word;
  color: #000;
}
#contenedor_nuestro_producto
{
  /*font-size: 13pt;*/
  font-size: 14pt;
  font-family: "Roboto-Light";
  padding: 3% 21% 3% 21%;
  word-wrap: break-word;
  color: #000;  
}
.margen_abogado{
  margin-bottom: 93px;
}
.contenedor_texto_cv
{
 padding: 0% 21% 2% 21%;
}
.intermedio
{
  width:17%;
  /*height: 13px;*/
}
/*.contenedor_quienes_somos2
{
  margin-top: 43px;
}*/
.margen_dos_dedos
{
  margin-top: 93px;
  margin-bottom: 93px;
}
#lista_empresa ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	color: #000;
	margin-left: 13%;
	padding: 10px;
  font-family: "Roboto-Light";
	font-size: 8pt;
  width:80%;
}
#lista_empresa ul li
{
	display: inline;
}
.menu1
{
  background-color: #EBE6B5;/*Blanquito*/
}
.menu2
{
  background-color: #000;/*Oscuro*/
}
/*.telefonillo
{
	margin-left: 60px;
}
.contacto
{
	margin-left: 10%;
}*/
.idioma
{
	float: right;
  padding-right: 15%;
}
.opcion_seleccionada
{
  color: #000;
  background-color: #fff;
}
#quienes_somos,#nosotros_quienes_somos
{
  margin-top: 93px;
  margin-bottom: 93px;
  font-size: 12pt;
}
#contenedor_mision,#contenedor_vision,#contenedor_nosotros_mision,#contenedor_nosotros_vision
{
  /*font-size: 12pt;*/
  font-size: 13pt;
  font-family: "Roboto-Light";
  word-wrap: break-word;
  padding: 3% 14%;
  height: 300px; 
  color: #000;
}
#titulo_mision,#titulo_vision, #titulo_nuestra_historia
{
  font-family: "Roboto-Regular";
}
.intermedio_mision_vision
{
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  /*margin-bottom: 5%;*/
}
.intermedio2{
  width: 31%;
  /*width:20%;*/
}
/*#contenedor_nuestro_producto
{
	word-wrap:break-word;
	padding: 0% 12% 18% 12%;
  color: #717171;
  font-size: 14pt;
}*/
#hr_grueso
{
  background-color: #1d1d1d;
  height: 5px;
  width: 100%;
}
.titulo_negro
{
  font-weight: bold;
  background-color: #1d1d1d;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 1% 4% 1% 4%;
}
.titulo_negro2
{
  font-weight: bold;
  background-color: #1d1d1d;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 4% 1% 4%;
}
.titulo_negro3
{
  font-weight: bold;
  background-color: #333;
  color: #fff;
  /* padding: 2px 30px 0px 30px; */
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 1% 4% 1% 4%;
}
.text_slider1
{
  /*font-weight: bold;*/
  letter-spacing: 3px;
}
#gran_caracas,.telefonillo,.contacto,#idioma
{
  font-size:10pt;
}
#titulo_noticias_detalles{
  font-size: 40pt;
  margin: 44px 0px 44px 0px;
  font-family: "Roboto-Regular";
}
#titulo_quienes_somos,#titulo_cacao,#titulo_noticias,#titulo_galeria,#titulo_nuestra_historia,#tbl_redes,#titulo_noticias,#titulo_imagenes
{
  font-family: "Roboto-Regular";
  /*font-size: 15pt;*/
}
#titulo_imagenes{
  text-align: center;
  margin-top: 36px;
  margin-bottom: 36px;
}
#titulo_nuestra_historia
{
  margin-top: 50px;
}
#titulo_galeria
{
  margin-bottom:50px;
}
.imagen_centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 233px;
}
.imagen_centrada2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 90%;
  height: 300px;
}  
.estructura_noticias
{
  /*margin-top: 6%;*/
}
.titulos_noticias
{
  text-align: center;
  font-family: "Roboto-Bold";
  font-size: 14pt;
  font-style: italic;
  margin-top: 9%;
}
.parrafos_imagen
{
  text-align: justify;
  color: #000;
  font-size: 13pt;
  font-family: "Roboto-Light";
  height: 200px;
  margin-top: 5%;
}
.boton_noticias
{
  border: solid 2px #424141;
  text-align: center;
  padding: 2%;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.boton_noticias:hover
{
  border: solid 2px #fff;
  background-color: #424141;
  color:#fff;
  cursor: pointer;
}

.div_btn_noticias
{
  width: 100%;
}
.cuerpo_noticia 
{
  margin-top: 12%;
}
.cien
{
  width: 100%;
  height: 260px;
}
.padding0
{
	padding: 0px;
}
#noticias,#galeria
{
	margin-bottom: 100px;
  height: auto;
}
#contacto,#contacto2
{
	width:100%;
	/*height: 600px;*/
	background-color: #1d1d1d;
	color:#e8dbb9;
  /*padding-bottom: 2%;*/
}
/*#contacto
{
  margin-top: 260px;
}*/
#contacto2 {
  margin-top: 120px;
}
.titulo_contacto
{
  display: block;
  /* margin-right: auto; */
  /* margin-left: 25%; */
  font-size: 20pt;
  /*padding-top: 40px;*/
  font-family: "Roboto-Regular";
  /*font-size: 18pt;*/
  text-align: center;
}
.datos_direccion
{
  padding: 0% 0% 0% 30%;
  /*padding: 10% 0% 0% 0%;*/
  width: 90%;
}
.titulos_contacto
{
  margin-bottom: 10%;
  font-family: "Roboto-Regular";
  font-size: 11pt;
}
.titulos_contacto2
{
  font-family: "Roboto-Regular";
  font-size: 11pt;
}
.parrafos_contacto
{
  font-size: 11pt;
  font-family: "Roboto-Regular";
}
.formulario_contacto
{
	padding: 4% 0% 0% 0%;
}
.tlf_contacto
{
	margin-top : 20px;
}
.tlf_left
{
	padding-left: 70px;
}
.form-input
{
	width:70%;
  color: #000;
}
.form-input2 {
  width: 100%;
  color: #000;
}
.formulario_contacto2{
  margin: 0 auto;
  width: 50%;
}
#div_pie_pagina
{
  width: 100%;
  /* height: 50px; */
  background-color: #1d1d1d;
}
.img_padding
{
  float: left;_redes
  width: 3%;
  margin: 1%;
}
.texto_footer
{
  padding: 10px 0px 10px 0px;
  font-size: 7pt;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  color:#fff;
}
#bloque_redes
{
  width: 100%;
  height: 275px;
  float: left;
  background-color: #fff;
  /*margin-top: 6%;*/
}
#tbl_redes
{
  color: #000;
  text-align: center;
  font-size: 15pt;
  padding: 5% 0% 3% 0%;
}
.option-circles
{
  width: 35px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  text-align: center;
  margin-bottom: px;
  border: solid 2px;
  float:left;
  margin-right: 4px;
}
.caja_redes
{
  color: #1d1d1d;
  font-size: 14pt;
  /*padding: 4% 5% 0% 6%;*/
  padding: 4% 0% 0% 0%;
  /*width: 19%;*/
  width:7%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  /*display:block;*/
}
.cuerpo_redes_sociales
{
  width:100%;
}
.fuente_red
{
  font-size: 16pt;
}
.boton_contactos, .boton_contactos2
{
  border: solid 2px #fff;
  text-align: center;
  padding: 3px;
  width: 120px;
  display: block;
  margin-left: 12px;
  cursor: pointer;
}
.boton_contactos:hover, .boton_contactos2:hover
{
  background-color: #fff;
  color: #1d1d1d;
  cursor: pointer;
}
.btn_mensaje
{
  font-size: 8pt;
}
#div_principal
{
  /*  background:url('../img/principal.png') center fixed no-repeat; //Imagen de fondo*/
  /*  background:url('../img/principal.png'); //Imagen de fondo*/
}
#div_principal_nosotros
{
    background:url('../img/nosotros.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_nuestro_producto, #div_principal_nuestro_producto
{
   background:url('../img/nuestro_producto.jpg') center fixed no-repeat; //Imagen de fondo
}
/*#section_nosotros_valores
{
  /* background:url('../img/valores.png') center fixed; //Imagen de fondo  */
  /*background:url('../img/valores.jpg') center fixed no-repeat; //Imagen de fondo  */
/*}*/
#div_principal,#div_principal_nosotros,#div_principal_nuestro_producto,
{
  max-height: 100%;
  /*height: 500px; //altura del fondo*/
  height: 500px;//altura de fondo
  position: relative;
  margin: 0 auto;
  /*padding: 5%;*/
  background-size: cover; //ajusta el fondo a la imagen
}
#div_galeria0
{
 padding: 6% 4% 2% 4%;
}
#div_galeria
{
  padding: 2% 4% 6% 4%;
}
#section_nosotros{
  background:url('../img/nosotros.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_noticias{
  background:url('../img/noticias.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_galeria{
  background:url('../img/galeria.jpg') center fixed no-repeat; //Imagen de fondo
}
#section_nuestro_equipo{
  background: url('../img/nuestro_equipo.jpg') center fixed no-repeat; // Imagen de fondo
}
#section_valores{
  background: url('../img/valores.jpg') center fixed no-repeat; // Imagen de fondo
}
#nuestro_equipo{
  padding-bottom: 180px;
  padding-top: 93px;
}
/*#texto_seccion_nosotros{*/
#contenedor_nombre_nosotros{
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";
  /*width: 100%;*/
  left: 50%;
  top: 50%;
  /*padding: 8% 13% 8% 13%;*/
  padding: 1% 2% 1% 2%;
}
.contenedor_contacto
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.contenedor_nombre_contacto
{
  text-align: center;
  color: #E8DBB9;
  margin: 0 auto;
  font-size: 40pt;
  border: solid #E8DBB9;
  cursor: pointer;
  font-family: "Roboto-Regular";
  padding: 1% 1% 1% 1%;
  margin-top: 40px;
  margin-bottom: 20px;
}
#texto_seccion_tipo_cacao
{
  text-align: center;
  color: #fff;
  margin: 0 auto;
  /* margin-top: 10%; */
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";
  width: 42%;
  margin-top: 6%;
  padding: 1% 2% 1% 2%;
}
/*#contenedor_nombre_nosotros
{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
}*/
#contenedor_nombre_nuestro_producto,#contenedor_nombre_noticias,#contenedor_nombre_galeria,#contenedor_nombre_nuestro_equipo,#contenedor_nombre_valores
{
  /*text-align: center;
  color: #fff;
  margin: 5% 0% 0% 25%;
  padding: 2%;
  float: left;
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";*/
  text-align: center;
  color: #fff;
  margin: 0 auto;
  /*margin-top: 10%;*/
  font-size: 40pt;
  border: solid;
  cursor: pointer;
  font-family: "Roboto-Regular";
  /*width:100%;*/
}
#contenedor_nombre_valores {   
}
#contenedor_nombre_galeria,#contenedor_nombre_noticias
{
  padding: 2% 2% 2% 2%;
}
#contenedor_nombre_nuestro_producto, #contenedor_nombre_nuestro_equipo
{
  padding: 2% 2% 2% 2%;
}
/*#contenedor_nombre_nuestro_producto
{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-block;
}*/
.contenido_inicial{
  max-height: 100%;
  height: 475px;
  margin: 0 auto;
  /* padding: 5%; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_nuestro_producto,#section_nosotros,#section_noticias,#section_galeria, #section_nuestro_equipo{
  max-height: 100%;
  height: 500px;
  margin: 0 auto;
  /* padding: 5%; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
/*#section_valores*/
#section_valores{
  max-height: 100%;
  height: 500px;
  /*margin: 0 auto;
  padding: 5%;*/
  background-size: cover;
/*  display: flex; 
  justify-content: center;
  align-items: center;*/
}
#contenedor_titulo_valores{
  margin: 0 auto;
  /*padding: 5%;*/
  padding: 10% 10% 4% 10%;
  display: flex; 
  justify-content: center;
  align-items: center;
}
#contenedor_nombre_valores{
  padding:1%;
}
#cuerpo_fila1, #cuerpo_fila2{
  padding: 2%;
}
.subtexto_valores{
  color: #fff;
  font-size: 15pt;
  text-align: left;
  font-weight: bold;
}
#contenedor_cuadro_detalle_valores{
  margin-left: 5%;
}
#nuestro_producto{
  margin-top:30px;
 /* margin-bottom: 30px;*/
}
#contenedor_cacao
{
  margin-bottom: 93px; 
}
#tabla_cacao
{
  padding: 7% 7% 0% 7%;
}
.tabla_cacao
{
  width: 100%;
  border: solid #333;
}
.th_tabla2
{
  font-size: 14pt;
  font-family: "Roboto-Bold";
  background-color: #333;
  color: #fff;

}
.th_tabla
{
  padding: 2%;
  text-align: center;
}
.td_tabla
{
  padding: 2%;
  text-align: center;
  border-left: solid #333;
}
.img_cv
{
  width:50%;
  margin: 0 auto;
  display: inherit;
  margin-top: 20px;
}
.img_cv2
{
  width:45%;
  margin: 0 auto;
  display: inherit;
}
/*.td_tabla,.td_caracteristicas
{
  font-family: "Roboto-Light";
}*/
tbody
{
  width: 30%;
  font-size: 10pt;
  font-family: "Roboto-Light";
  color:#000;
}
.td_caracteristicas
{
  padding: 10px 40px 0px 40px;
  border-left: solid #333;
  text-align: justify;
}
.linea_tabla
{
  border-bottom: solid #333;
}
.fermentacion
{
  text-align: justify;
}
.tipo_cacao
{
  padding:10px 0px 10px 0px;
}
.descripcion_cacao
{
  padding-bottom: 20px;
}
.texto_humedad
{
  text-align: right;
}
.str_texto
{
  text-align: left;
  padding-left: 8%;
}
#section_nosotros_valores
{
  max-height: 100%;
  height: 500px;//altura de fondo
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover; //ajusta el fondo a la imagen 
}
.nav_normal>li>a:focus, .nav_normal>li>a:hover, .activo_normal
{
  text-decoration: none;
  background-color:rgba(35,31,37,0.9);
  color:#fff;
  padding: 2px 25px 2px 25px;
}
.nav_top>li>a:focus, .nav_top>li>a:hover, .activo_top
{
  text-decoration: none;
  /*background-color:#E8DBB9;*/
  background-color:rgba(232,219,185,0.7);
  color:#fff;
}
.nav_top>li>a, .nav_normal>li>a{
  position: relative;
  display: block;
  padding: 2px 25px 2px 25px;
}
.bloque_direccion
{
  margin-top: 40px;
}
.redes_sociales
{
  font-size: 9pt;
  margin-left: 15px;
}
/*---Clases del carrousel principal ---*/
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-family: "Roboto-Regular"; 
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.cacao_vzla
{
  font-size: 45pt;
  margin-top: 80px;
}
#img_principal{
  width: 40%;
  /*margin-top: 5%;*/
  margin-top: 65px;
}
.bloque_contacto2{
  display: none;
}
#mensaje_contacto{
  resize: none;
}
.icon-bar-negro
{
 background-color:#000; 
}
.icon-bar-blanco
{
 background-color:#fff; 
}
#paginacion_consulta,#paginacion_consulta_videos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 350PX;
  padding: 2%;*/
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #000;
  border-color: #000;
}
.pagination>li>a, .pagination>li>span {
  color:#000;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #000;
  background-color: #eee;
  border-color: #ddd;
}
.contenedor_imagenes_detalle2{
  margin-top: 5%;
}
/*--Bloque de Media queries--*/
/*--------------------------------------------------------------------------------------------------------*/
/*---Caso 1:---*/
@media screen and (max-width: 980px){
  #contenedor_quienes_somos, #contenedor_nosotros, #contenedor_nosotros_historia, #contenedor_nuestro_producto,.parrafos_imagen,.contenedor_texto_cv,.contenedor_noticias_detalle,.contenedor_imagenes_detalle{
      padding:3% 14% 9% 14%;
  }
  .vision_responsive{
      padding-top: 10%;
  }
  .intermedio {
    width: 31%;
  }
  .img_cv{
    width:60%;
  }
  .img_cv2{
    width:55%;
  }
  #imagen_noticias{
    width:71%;
  }
  .caja_redes{
    /*width:130px;*/
    width: 80px;
  }
  #lista_empresa ul{
    width: 96%;
    margin-left: 65px;
  }
}
@media screen and (max-width:767px){
  #img_principal {
    width: 60%;
    margin-top: 0px;
  }
  header#fullwidth .header-text {
  padding-top: 110px;
  }
}  
@media screen and (max-width: 767px){
  .bloque_contacto{
    display: none;
  }
  .bloque_contacto2{
    display: block;
  }
  .boton_contactos,.boton_contactos2{
    width:90%;
  }
  .datos_direccion{
     width: 55%;
     margin: 0 auto;
     padding: 0%;
  }
} 
/*---Caso 2: ---*/
@media screen and (max-width: 750px){
  #gran_caracas, .telefonillo, .contacto, #idioma {
    font-size: 9pt;
  }
}
@media screen and (max-width: 590px){
  #gran_caracas, .telefonillo, .contacto, #idioma {
    font-size: 8pt;
  }
}
@media screen and (max-width: 510px){
  #gran_caracas, .telefonillo, .contacto, #idioma {
    font-size: 7pt;
  }
}
@media screen and (max-width: 451px){
  #gran_caracas, .telefonillo, .contacto, #idioma {
    font-size: 6pt;
  }
  /*----Cambios de fuentes---*/
  #titulo_mision, #titulo_vision, #titulo_nuestra_historia,#titulo_quienes_somos, #titulo_cacao, #titulo_noticias, #titulo_galeria, #titulo_nuestra_historia, #tbl_redes,#titulo_noticias,#titulo_imagenes{
  font-size: 20pt;
  }
  #contenedor_quienes_somos, #contenedor_nosotros, #contenedor_nosotros_historia, #contenedor_nuestro_producto, #tbl_redes, .contenedor_texto_cv,.contenedor_noticias_detalle, .contenedor_imagenes_detalle {
  font-size: 12pt;
  }
  #contenedor_mision, #contenedor_vision, #contenedor_nosotros_mision, #contenedor_nosotros_vision, .parrafos_imagen {
  font-size: 11pt;
  }
  #contenedor_nombre_nosotros,#contenedor_nombre_nuestro_producto, #contenedor_nombre_nuestro_equipo,#contenedor_nombre_noticias,#contenedor_nombre_galeria, #contenedor_nombre_valores {
  font-size: 20pt;
  }
  /*--------------------------*/
}
@media screen and (max-width: 325px){
  #gran_caracas, .telefonillo, .contacto, #idioma {
    font-size: 5pt;
  }
  .imagen_logo {
    margin-left: 20%;
  }
  .contacto,.telefonillo{
    display: none;
  }
}
/*---Caso 3: ---*/
@media screen and (max-width: 360px){
    #lista_empresa ul{
      width: 100%;
      margin: 0px;
    }
    #gran_caracas, .telefonillo, .contacto, #idioma {
      font-size: 5pt;
    }
    .contacto, .idioma{
      margin-top: 2px;
    }
    /*.telefonillo {
      margin-left: 4px;
    }
    .contacto {
      margin-left: 6px;
    }
    .idioma{
      margin-left: 2px;
    }*/
    header#fullwidth .header-text {
      padding-top: 36px;
      padding-bottom: 50px;
    }
    #img_principal{
      width: 70%;
      margin-top: 5%;
    }
     #contenedor_mision, #contenedor_nosotros_mision {
      height: 305px;
    }  
    #contenedor_vision, #contenedor_nosotros_vision {
      height: 305px;
    }
    .div_btn_noticias{
     padding-top: 20px;
    }
    .intermedio {
      width: 45%;
    }
    .intermedio2 {
      width: 50%;
    }
    .caja_redes {
      width: 30%;
    }
    .formulario_contacto{
      display: none;
    }
    .formulario_contacto2{
      width: 100%;
      /*padding: 9% 3% 2% 13%;*/
    }
    .bloque_contacto2{
      display: block;
    }
    .form-input {
      width: 80%;
    }

    .boton_contactos, .boton_contactos2 {
      /*width: 218px;*/
      width:90%;
      margin-left: 17px;
    }
    .datos_direccion {
      /*padding: 0% 0% 0% 9%;*/
      width: 83%;
    }
    .tlf_left{
      padding-left: 80px;
      font-size: 11pt;
    }  
    #bloque_redes{
      height: 200px;
    }
    /*----Cambios de fuentes---*/
     #titulo_mision, #titulo_vision, #titulo_nuestra_historia,#titulo_quienes_somos, #titulo_cacao, #titulo_noticias, #titulo_galeria, #titulo_nuestra_historia, #tbl_redes,#titulo_noticias,#titulo_imagenes{
    font-size: 20pt;
    }
    #contenedor_quienes_somos, #contenedor_nosotros, #contenedor_nosotros_historia, #contenedor_nuestro_producto, #tbl_redes, .contenedor_texto_cv, .contenedor_noticias_detalle, .contenedor_imagenes_detalle {
      font-size: 12pt;
    }
    #contenedor_mision, #contenedor_vision, #contenedor_nosotros_mision, #contenedor_nosotros_vision, .parrafos_imagen {
      font-size: 11pt;
    }
    #contenedor_nombre_nosotros,#contenedor_nombre_nuestro_producto, #contenedor_nombre_nuestro_equipo,#contenedor_nombre_noticias,#contenedor_nombre_galeria, #contenedor_nombre_valores {
      font-size: 20pt;
    }
    /*--------------------------*/
}
/*---Caso 5: ---*/
@media screen and (max-width: 320px){
  #idioma{
    float:;
    padding: 4px 8px 0px;
  }
  .caja_redes {
    width: 30%;
  }
  .encabezado_font{
  }
  #lista_empresa ul {
    padding: 5px;
  }
  /*.boton_contactos {
    width: 195px;
  }*/
  #contenedor_mision, #contenedor_nosotros_mision {
    height: 365px;
  }
  #bloque_redes {
    width: 100%;
    height: 200px;
    float: ;
    background-color: #FFF;
  }      
}
/*---Caso 6 ---*/
@media screen and (max-width: 300px){
  /*.telefonillo {
    margin-left: 0px;
  }
  .contacto {
    margin-left: 1px;
  }*/
  #idioma{
    padding:7px 0px 0px
  }
  .img_cv, .img_cv2 {
    width: 100%;
    margin: 0px auto;
    display: inherit;
  }
}
/*---Caso7 ---*/
@media screen and (max-width: 250px){
  #lista_empresa ul li {
    font-size: 4pt;
  }
  /*----Cambios de fuentes---*/
   #titulo_mision, #titulo_vision, #titulo_nuestra_historia,#titulo_quienes_somos, #titulo_cacao, #titulo_noticias, #titulo_galeria, #titulo_nuestra_historia, #tbl_redes,#titulo_noticias,#titulo_imagenes{
    font-size: 15pt;
  }
  #contenedor_quienes_somos, #contenedor_nosotros, #contenedor_nosotros_historia, #contenedor_nuestro_producto, #tbl_redes, .contenedor_texto_cv, #contenedor_noticias_detalle {
    font-size: 10pt;
  }
  #contenedor_mision, #contenedor_vision, #contenedor_nosotros_mision, #contenedor_nosotros_vision, .parrafos_imagen {
    font-size: 9pt;
  }
  #contenedor_nombre_nosotros,#contenedor_nombre_nuestro_producto, #contenedor_nombre_nuestro_equipo,#contenedor_nombre_noticias,#contenedor_nombre_galeria, #contenedor_nombre_valores {
    font-size: 15pt;
  }
  .caja_redes {
    width: 50%;
  }  
  .intermedio{
    width: 30%;
  }
  /*--------------------------*/
}
/*-------------*/
@media screen and (max-width: 1199px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0%;
  }
  /*.idioma
  {
    padding-right: 10%;
  }*/
}
@media screen and (max-width: 1024px){
  /*navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 20%;
  }*/
  /*#lista_empresa ul {
    margin: 0px 0px 0px 8%;
  }*/ 
}
/* Medias para Menu*/
@media screen and (max-width: 990px) {
  .menu_ppal_d{
    width:100%;
  } 
}
@media screen and (max-width:917px ){
  .menu_principal {
    margin: 10px 0px 0px 0px;
  }
}
@media screen and (max-width:898px ){
  .navbar-brand {
    padding: 0px 20px 0px 0px;
  }
  .nav_top>li>a, .nav_normal>li>a {
    padding: 2px 19px 2px 19px;
  }   
}
@media screen and (max-width:794px ){
  .nav_top>li>a, .nav_normal>li>a {
    padding: 2px 15px 2px 15px;
  }   
}
/*--------------Para menu responsivo dispositivos moviles-----------*/
@media screen and (max-width:764px ){
  .imagen_logo{
    margin-left: 80%;
  }
  .navbar-collapse {
   padding-right: 0px; 
   padding-left: 0px;
  }
  .nav_normal{
    background-color: #e8dbb9;
  }
  .nav_top{
    background-color: #000;
  }  
  .menu_principal {
  margin: 0px 0px 0px 0px;
  } 
  .img_cv{
    width: 70%;
  }
  .img_cv2{
    width: 65%;
  }
}
/*-----------------------------------*/
@media screen and (max-width:  766px){
  /*.datos_direccion{
    padding: 2%;
  }*/
  .redes_sociales{
    margin-left: 20px;
  }
  .bloque_contacto{
    /*padding-left: 22%;*/
  }
  .direccion_contacto{
    margin-bottom: 0%;
  }
  .img_padding{
    margin: 1% 0 0 4%;
  }
}
@media screen and (max-width: 760px){
  .menu_principal{
    margin: 0px 0px 0px 0px;
    font-size: 8pt
  }
  .navbar-collapse{
    padding-right: 0px;
    padding-left: 0px;
  }
}  
/*@media screen and (min-width: 768px){
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 150px;
    font-size: 40pt;
  }
}*/
@media screen and (max-width: 753px){
  .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 676px){
  /*--Cabecera empresa--*/
  /*#lista_empresa ul{
    margin: 0 auto;
    width:100%;
  }*/
  .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
  {
     margin-left: 0px;
  }
  .img_cv {
    width: 90%;
  }
  .img_cv2 {
    width: 85%;
  }
}

@media screen and (max-width: 550px){
  /*--Cabecera empresa--*/
  /*#lista_empresa ul{
     font-size: 6pt;
  }*/
  .img_padding
  {
    width: 8%;
  }
}

@media screen and (max-width: 440px){
  /*--Cabecera empresa--*/ 
  /*#lista_empresa ul{
     font-size: 4pt;
  }*/
  /*.tlf_left
  {
    padding-left: 0px;
    font-size: 8pt;
  }*/
  .cuerpo_tlf
  {
    margin-bottom: 30px;  
  }
}  
/*@media screen and (max-width: 320px){
  .datos_direccion{
    padding: 10% 0% 0% 0%;
  }
} */


/* Section Gallery 
================================ */

/********* 
Gallery Styles for the filter & items 
*********/
.cuerpo_galeria2
{
  padding: 8% 5% 8% 5%;
}
#gallery .gallery-filter-area{margin-bottom:5%}
@media(min-width:768px) {
#gallery .gallery-filter-area{margin-bottom:2%}
}
#gallery .gallery-filter{padding:0;margin:0}
#gallery .gallery-filter li{list-style:none;display:inline-block;margin:3px}
#gallery .gallery-filter li a{display:block;padding:10px 15px 7px;background:transparent;color:#fed136;font-family: 'Catamaran', sans-serif; font-weight:400;font-size:16px;line-height:1;text-decoration:none;outline:none;text-transform:uppercase;border:2px solid #fed136;-webkit-transition:all .3s;transition:all .3s}
#gallery .gallery-filter li.active a,#gallery .gallery-filter li.active a:hover{background-color:#fed136;border-color:#fed136;color:#fff}
#gallery .gallery-filter li a:hover{background-color:#fed136;border-color:#fed136;color:#fff}
#gallery .gallery-items{margin:-8px;-webkit-transition:all .6s ease;transition:all .6s ease;-webkit-transition-delay:.6s;transition-delay:.6s}
#gallery .single-item{display:block;width:25%;padding:8px;float:left;position:relative}
#gallery .single-item a{display:block;-webkit-transition:none!important;transition:none!important}
.gallery-image{position:relative;width:100%;overflow:hidden;background:#fed136}
#gallery .gallery-image img{max-width:inherit;width:100%;height:233px;background-color: #fff;-webkit-transition:all .45s ease-out;transition:all .45s ease-out;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
#gallery .gallery-content{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .45s ease;transition:all .45s ease;padding:40px 20px;background-color:rgba(0,0,0,0.8);text-align:center}
#gallery .gallery-content-inner{position:relative;width:100%}
#gallery .p-title{font-size:24px;letter-spacing:1px;text-transform:uppercase;margin:0;font-family: 'Catamaran', sans-serif; font-weight:400;position:relative;margin-bottom:5px;color:#fed136;padding-bottom:10px;border-bottom:2px solid #fed136}
#gallery .gallery-content-inner p{color:#fed136}
#gallery .single-item:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
#gallery .single-item:hover .gallery-content{opacity:1;filter:alpha(opacity=100)}
#gallery .modal-open .modal { }
#gallery .modal-dialog {margin: 10px auto;width:80%;}
#gallery{
  cursor: pointer;
}
/********* 
Laptop 
*********/
@media (max-width: 1400px) {
#gallery .single-item {width: 33.1%;}
}

/********* 
Small Tablet 
********/
@media (max-width: 991px) {
#gallery .single-item {width: 50%;}
#gallery .gallery-filters-area {margin-bottom: 10%;}
}

/********* 
Smallest Tablet & Mobile 
*********/
@media (max-width: 767px) {
#gallery .single-item .gallery-content, #gallery  .single-item:hover .gallery-content {opacity: 0 !important;filter: alpha(opacity=0);}
}

/*********  
Small Mobile 
*********/
@media (max-width: 500px) {
#gallery .single-item {width: 100%;}
#gallery .gallery-filters li a {padding: 2px 8px;}
#gallery .gallery-filter li{list-style:none;display:block;margin:3px}
}

/*********   
Maginific Popup Adjustments
*********/
@media (min-width: 768px) {
.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {margin-left: 25px;    border-right: 0px solid #3F3F3F !important;}
.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {border-left: 0px solid #3F3F3F !important;}
}